openapi: 3.1.0
info:
  summary: Neosync API
  version: "0.5"
  termsOfService: "https://www.neosync.dev/terms-of-service"
  contact:
    name: Neosync Support
    email: support@neosync.dev
  license:
    name: MIT
    url: https://github.com/nucleuscloud/neosync/blob/main/LICENSE.md
  title: mgmt.v1alpha1
externalDocs:
  description: API and SDK Documentation
  url: https://docs.neosync.dev/api
servers:
  - url: https://neosync-api.svcs.neosync.dev
    description: Neosync Cloud
  - url: http://localhost:{port}
    description: Development
    variables:
      port:
        default: "8080"
        description: The port to use for the development server
components:
  schemas:
    mgmt.v1alpha1.GenerateEmailType:
      type: string
      title: GenerateEmailType
      enum:
        - GENERATE_EMAIL_TYPE_UNSPECIFIED
        - GENERATE_EMAIL_TYPE_UUID_V4
        - GENERATE_EMAIL_TYPE_FULLNAME
    mgmt.v1alpha1.GenerateIpAddressType:
      type: string
      title: GenerateIpAddressType
      enum:
        - GENERATE_IP_ADDRESS_TYPE_UNSPECIFIED
        - GENERATE_IP_ADDRESS_TYPE_V4_PUBLIC
        - GENERATE_IP_ADDRESS_TYPE_V4_PRIVATE_A
        - GENERATE_IP_ADDRESS_TYPE_V4_PRIVATE_B
        - GENERATE_IP_ADDRESS_TYPE_V4_PRIVATE_C
        - GENERATE_IP_ADDRESS_TYPE_V4_LINK_LOCAL
        - GENERATE_IP_ADDRESS_TYPE_V4_MULTICAST
        - GENERATE_IP_ADDRESS_TYPE_V4_LOOPBACK
        - GENERATE_IP_ADDRESS_TYPE_V6
    mgmt.v1alpha1.InvalidEmailAction:
      type: string
      title: InvalidEmailAction
      enum:
        - INVALID_EMAIL_ACTION_UNSPECIFIED
        - INVALID_EMAIL_ACTION_REJECT
        - INVALID_EMAIL_ACTION_NULL
        - INVALID_EMAIL_ACTION_PASSTHROUGH
        - INVALID_EMAIL_ACTION_GENERATE
      description: Action enumeration that dictates what the transform_email transformer should do in the case that it encounters an email that does not conform to RFC 5322
    mgmt.v1alpha1.PiiAnonymizer.Hash.HashType:
      type: string
      title: HashType
      enum:
        - HASH_TYPE_UNSPECIFIED
        - HASH_TYPE_MD5
        - HASH_TYPE_SHA256
        - HASH_TYPE_SHA512
    mgmt.v1alpha1.TransformHash.HashType:
      type: string
      title: HashType
      enum:
        - HASH_TYPE_UNSPECIFIED
        - HASH_TYPE_MD5
        - HASH_TYPE_SHA1
        - HASH_TYPE_SHA256
        - HASH_TYPE_SHA512
    mgmt.v1alpha1.AnonymizeManyErrors:
      type: object
      properties:
        inputIndex:
          type:
            - integer
            - string
          title: input_index
          format: int64
          description: Index of input data that caused error
        errorMessage:
          type: string
          title: error_message
          description: Error message
      title: AnonymizeManyErrors
      additionalProperties: false
    mgmt.v1alpha1.AnonymizeManyRequest:
      type: object
      allOf:
        - anyOf:
            - required:
                - defaultTransformers
            - not:
                anyOf:
                  - required:
                      - defaultTransformers
      anyOf:
        - required:
            - defaultTransformers
        - not:
            anyOf:
              - required:
                  - defaultTransformers
      properties:
        inputData:
          type: array
          items:
            type: string
            minLength: 1
            maxItems: 25
            minItems: 1
          title: input_data
          maxItems: 25
          minItems: 1
          description: Array of stringified JSON data to be anonymized (up to 25 items)
        transformerMappings:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.TransformerMapping'
          title: transformer_mappings
          description: Array of Transformer mappings
        defaultTransformers:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.DefaultTransformersConfig'
          title: default_transformers
          description: Optional default transformations for any unmapped keys
        haltOnFailure:
          type: boolean
          title: halt_on_failure
          description: |-
            Flag to indicate whether to stop processing when an error occurs
             true: stops on first error encounter
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The unique account identifier
      title: AnonymizeManyRequest
      additionalProperties: false
    mgmt.v1alpha1.AnonymizeManyResponse:
      type: object
      properties:
        outputData:
          type: array
          items:
            type: string
          title: output_data
          description: Array of anonymized JSON data
        errors:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.AnonymizeManyErrors'
          title: errors
          description: Array of errors that occured during anonymization
      title: AnonymizeManyResponse
      additionalProperties: false
    mgmt.v1alpha1.AnonymizeSingleRequest:
      type: object
      allOf:
        - anyOf:
            - required:
                - defaultTransformers
            - not:
                anyOf:
                  - required:
                      - defaultTransformers
      anyOf:
        - required:
            - defaultTransformers
        - not:
            anyOf:
              - required:
                  - defaultTransformers
      properties:
        inputData:
          type: string
          title: input_data
          description: Stringified JSON data to be anonymized
        transformerMappings:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.TransformerMapping'
          title: transformer_mappings
          description: Array of Transformer mappings
        defaultTransformers:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.DefaultTransformersConfig'
          title: default_transformers
          description: Optional default transformations for any unmapped keys
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The unique account identifier
      title: AnonymizeSingleRequest
      additionalProperties: false
    mgmt.v1alpha1.AnonymizeSingleResponse:
      type: object
      properties:
        outputData:
          type: string
          title: output_data
          description: Anonymized JSON data
      title: AnonymizeSingleResponse
      additionalProperties: false
    mgmt.v1alpha1.DefaultTransformersConfig:
      type: object
      properties:
        boolean:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.TransformerConfig'
          title: boolean
          description: Any identified boolean value will be transformed using this configuration if no mapping is found.
        n:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.TransformerConfig'
          title: n
          description: Any identified number value will be transformed using this configuration if no mapping is found.
        s:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.TransformerConfig'
          title: s
          description: Any identified string value will be transformed using this configuration if no mapping is found.
      title: DefaultTransformersConfig
      additionalProperties: false
    mgmt.v1alpha1.GenerateBool:
      type: object
      title: GenerateBool
      additionalProperties: false
    mgmt.v1alpha1.GenerateBusinessName:
      type: object
      title: GenerateBusinessName
      additionalProperties: false
    mgmt.v1alpha1.GenerateCardNumber:
      type: object
      allOf:
        - anyOf:
            - required:
                - validLuhn
            - not:
                anyOf:
                  - required:
                      - validLuhn
      anyOf:
        - required:
            - validLuhn
        - not:
            anyOf:
              - required:
                  - validLuhn
      properties:
        validLuhn:
          type: boolean
          title: valid_luhn
          description: Whether or not to validate the card number using the Luhn algorithm.
      title: GenerateCardNumber
      additionalProperties: false
    mgmt.v1alpha1.GenerateCategorical:
      type: object
      allOf:
        - anyOf:
            - required:
                - categories
            - not:
                anyOf:
                  - required:
                      - categories
      anyOf:
        - required:
            - categories
        - not:
            anyOf:
              - required:
                  - categories
      properties:
        categories:
          type: string
          title: categories
          description: A comma separated list of categories that will be used to generate a random value from.
      title: GenerateCategorical
      additionalProperties: false
    mgmt.v1alpha1.GenerateCity:
      type: object
      title: GenerateCity
      additionalProperties: false
    mgmt.v1alpha1.GenerateCountry:
      type: object
      allOf:
        - anyOf:
            - required:
                - generateFullName
            - not:
                anyOf:
                  - required:
                      - generateFullName
      anyOf:
        - required:
            - generateFullName
        - not:
            anyOf:
              - required:
                  - generateFullName
      properties:
        generateFullName:
          type: boolean
          title: generate_full_name
          description: An option to return the full country name of the randomly selected country or return the default of a 2-letter country code.
      title: GenerateCountry
      additionalProperties: false
    mgmt.v1alpha1.GenerateDefault:
      type: object
      title: GenerateDefault
      additionalProperties: false
    mgmt.v1alpha1.GenerateE164PhoneNumber:
      type: object
      allOf:
        - anyOf:
            - required:
                - max
            - not:
                anyOf:
                  - required:
                      - max
        - anyOf:
            - required:
                - min
            - not:
                anyOf:
                  - required:
                      - min
      properties:
        min:
          type:
            - integer
            - string
          title: min
          format: int64
          description: The minimum length of the phone number to generate.
        max:
          type:
            - integer
            - string
          title: max
          format: int64
          description: The maximum length of the phone number to generate.
      title: GenerateE164PhoneNumber
      additionalProperties: false
    mgmt.v1alpha1.GenerateEmail:
      type: object
      allOf:
        - anyOf:
            - required:
                - emailType
            - not:
                anyOf:
                  - required:
                      - emailType
      anyOf:
        - required:
            - emailType
        - not:
            anyOf:
              - required:
                  - emailType
      properties:
        emailType:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateEmailType'
          title: email_type
          description: Optionally specify the type of email to generate. The types specified determine the contents on the left side of the @.
      title: GenerateEmail
      additionalProperties: false
    mgmt.v1alpha1.GenerateFirstName:
      type: object
      title: GenerateFirstName
      additionalProperties: false
    mgmt.v1alpha1.GenerateFloat64:
      type: object
      allOf:
        - anyOf:
            - required:
                - max
            - not:
                anyOf:
                  - required:
                      - max
        - anyOf:
            - required:
                - min
            - not:
                anyOf:
                  - required:
                      - min
        - anyOf:
            - required:
                - precision
            - not:
                anyOf:
                  - required:
                      - precision
        - anyOf:
            - required:
                - randomizeSign
            - not:
                anyOf:
                  - required:
                      - randomizeSign
      properties:
        randomizeSign:
          type: boolean
          title: randomize_sign
          description: Whether or not to randomize the sign of the float64.
        min:
          type: number
          title: min
          format: double
          description: The minimum value to randomize the float64 to.
        max:
          type: number
          title: max
          format: double
          description: The maximum value to randomize the float64 to.
        precision:
          type:
            - integer
            - string
          title: precision
          format: int64
          description: The precision of the float64 to generate.
      title: GenerateFloat64
      additionalProperties: false
    mgmt.v1alpha1.GenerateFullAddress:
      type: object
      title: GenerateFullAddress
      additionalProperties: false
    mgmt.v1alpha1.GenerateFullName:
      type: object
      title: GenerateFullName
      additionalProperties: false
    mgmt.v1alpha1.GenerateGender:
      type: object
      allOf:
        - anyOf:
            - required:
                - abbreviate
            - not:
                anyOf:
                  - required:
                      - abbreviate
      anyOf:
        - required:
            - abbreviate
        - not:
            anyOf:
              - required:
                  - abbreviate
      properties:
        abbreviate:
          type: boolean
          title: abbreviate
          description: Whether or not to abbreviate the gender.
      title: GenerateGender
      additionalProperties: false
    mgmt.v1alpha1.GenerateInt64:
      type: object
      allOf:
        - anyOf:
            - required:
                - max
            - not:
                anyOf:
                  - required:
                      - max
        - anyOf:
            - required:
                - min
            - not:
                anyOf:
                  - required:
                      - min
        - anyOf:
            - required:
                - randomizeSign
            - not:
                anyOf:
                  - required:
                      - randomizeSign
      properties:
        randomizeSign:
          type: boolean
          title: randomize_sign
          description: Whether or not to randomize the sign of the int64.
        min:
          type:
            - integer
            - string
          title: min
          format: int64
          description: The minimum value to randomize the int64 to.
        max:
          type:
            - integer
            - string
          title: max
          format: int64
          description: The maximum value to randomize the int64 to.
      title: GenerateInt64
      additionalProperties: false
    mgmt.v1alpha1.GenerateInt64PhoneNumber:
      type: object
      title: GenerateInt64PhoneNumber
      additionalProperties: false
    mgmt.v1alpha1.GenerateIpAddress:
      type: object
      allOf:
        - anyOf:
            - required:
                - ipType
            - not:
                anyOf:
                  - required:
                      - ipType
      anyOf:
        - required:
            - ipType
        - not:
            anyOf:
              - required:
                  - ipType
      properties:
        ipType:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateIpAddressType'
          title: ip_type
          description: Optionally specify the type of ip address to generate.
      title: GenerateIpAddress
      additionalProperties: false
    mgmt.v1alpha1.GenerateJavascript:
      type: object
      properties:
        code:
          type: string
          title: code
          description: The user provided javascript code that will be executed in the transformer
      title: GenerateJavascript
      additionalProperties: false
    mgmt.v1alpha1.GenerateLastName:
      type: object
      title: GenerateLastName
      additionalProperties: false
    mgmt.v1alpha1.GenerateSSN:
      type: object
      title: GenerateSSN
      additionalProperties: false
    mgmt.v1alpha1.GenerateSha256Hash:
      type: object
      title: GenerateSha256Hash
      additionalProperties: false
    mgmt.v1alpha1.GenerateState:
      type: object
      allOf:
        - anyOf:
            - required:
                - generateFullName
            - not:
                anyOf:
                  - required:
                      - generateFullName
      anyOf:
        - required:
            - generateFullName
        - not:
            anyOf:
              - required:
                  - generateFullName
      properties:
        generateFullName:
          type: boolean
          title: generate_full_name
          description: An option to return the full state name of the randomly selected state or return the default of a 2-letter state code.
      title: GenerateState
      additionalProperties: false
    mgmt.v1alpha1.GenerateStreetAddress:
      type: object
      title: GenerateStreetAddress
      additionalProperties: false
    mgmt.v1alpha1.GenerateString:
      type: object
      allOf:
        - anyOf:
            - required:
                - max
            - not:
                anyOf:
                  - required:
                      - max
        - anyOf:
            - required:
                - min
            - not:
                anyOf:
                  - required:
                      - min
      properties:
        min:
          type:
            - integer
            - string
          title: min
          format: int64
          description: The minimum length of the string to generate.
        max:
          type:
            - integer
            - string
          title: max
          format: int64
          description: The maximum length of the string to generate.
      title: GenerateString
      additionalProperties: false
    mgmt.v1alpha1.GenerateStringPhoneNumber:
      type: object
      allOf:
        - anyOf:
            - required:
                - max
            - not:
                anyOf:
                  - required:
                      - max
        - anyOf:
            - required:
                - min
            - not:
                anyOf:
                  - required:
                      - min
      properties:
        min:
          type:
            - integer
            - string
          title: min
          format: int64
          description: The minimum length of the phone number to generate.
        max:
          type:
            - integer
            - string
          title: max
          format: int64
          description: The maximum length of the phone number to generate.
      title: GenerateStringPhoneNumber
      additionalProperties: false
    mgmt.v1alpha1.GenerateUnixTimestamp:
      type: object
      title: GenerateUnixTimestamp
      additionalProperties: false
    mgmt.v1alpha1.GenerateUsername:
      type: object
      title: GenerateUsername
      additionalProperties: false
    mgmt.v1alpha1.GenerateUtcTimestamp:
      type: object
      title: GenerateUtcTimestamp
      additionalProperties: false
    mgmt.v1alpha1.GenerateUuid:
      type: object
      allOf:
        - anyOf:
            - required:
                - includeHyphens
            - not:
                anyOf:
                  - required:
                      - includeHyphens
      anyOf:
        - required:
            - includeHyphens
        - not:
            anyOf:
              - required:
                  - includeHyphens
      properties:
        includeHyphens:
          type: boolean
          title: include_hyphens
          description: Whether or not to include hyphens in the uuid. Defaults to true. If false, the uuid will be returned without hyphens.
      title: GenerateUuid
      additionalProperties: false
    mgmt.v1alpha1.GenerateZipcode:
      type: object
      title: GenerateZipcode
      additionalProperties: false
    mgmt.v1alpha1.Null:
      type: object
      title: "Null"
      additionalProperties: false
    mgmt.v1alpha1.Passthrough:
      type: object
      title: Passthrough
      additionalProperties: false
    mgmt.v1alpha1.PiiAnonymizer:
      type: object
      allOf:
        - anyOf:
            - required:
                - hash
            - required:
                - mask
            - required:
                - redact
            - required:
                - replace
            - required:
                - transform
            - not:
                anyOf:
                  - required:
                      - hash
                  - required:
                      - mask
                  - required:
                      - redact
                  - required:
                      - replace
                  - required:
                      - transform
      anyOf:
        - required:
            - hash
        - required:
            - mask
        - required:
            - redact
        - required:
            - replace
        - required:
            - transform
        - not:
            anyOf:
              - required:
                  - hash
              - required:
                  - mask
              - required:
                  - redact
              - required:
                  - replace
              - required:
                  - transform
      properties:
        replace:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.PiiAnonymizer.Replace'
          title: replace
          description: Configures the anonymizer to replace the identified PII with a specific value
        redact:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.PiiAnonymizer.Redact'
          title: redact
          description: Configures the anonymizer to completely remove the identified PII
        mask:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.PiiAnonymizer.Mask'
          title: mask
          description: Configures the anonymizer to mask the identified PII
        hash:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.PiiAnonymizer.Hash'
          title: hash
          description: Configures the anonymizer to hash the identified PII
        transform:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.PiiAnonymizer.Transform'
          title: transform
          description: Configures the anonymizer to use a Neosync configured transformer
      title: PiiAnonymizer
      additionalProperties: false
    mgmt.v1alpha1.PiiAnonymizer.Hash:
      type: object
      allOf:
        - anyOf:
            - required:
                - algo
            - not:
                anyOf:
                  - required:
                      - algo
      anyOf:
        - required:
            - algo
        - not:
            anyOf:
              - required:
                  - algo
      properties:
        algo:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.PiiAnonymizer.Hash.HashType'
          title: algo
          description: The hashing algorithm to use.
      title: Hash
      additionalProperties: false
    mgmt.v1alpha1.PiiAnonymizer.Mask:
      type: object
      allOf:
        - anyOf:
            - required:
                - charsToMask
            - not:
                anyOf:
                  - required:
                      - charsToMask
        - anyOf:
            - required:
                - fromEnd
            - not:
                anyOf:
                  - required:
                      - fromEnd
        - anyOf:
            - required:
                - maskingChar
            - not:
                anyOf:
                  - required:
                      - maskingChar
      properties:
        maskingChar:
          type: string
          title: masking_char
          description: Provide a character that will be used for the replacement.
        charsToMask:
          type: integer
          title: chars_to_mask
          format: int32
          description: How many characters to mask.
        fromEnd:
          type: boolean
          title: from_end
          description: Whether to mask the PII from start or end
      title: Mask
      additionalProperties: false
    mgmt.v1alpha1.PiiAnonymizer.Redact:
      type: object
      title: Redact
      additionalProperties: false
    mgmt.v1alpha1.PiiAnonymizer.Replace:
      type: object
      allOf:
        - anyOf:
            - required:
                - value
            - not:
                anyOf:
                  - required:
                      - value
      anyOf:
        - required:
            - value
        - not:
            anyOf:
              - required:
                  - value
      properties:
        value:
          type: string
          title: value
          description: 'The value to replace. If not provided, a template token of the anonymizer is used (e.g. A PERSON entity is replaced with: <PERSON>)'
      title: Replace
      additionalProperties: false
    mgmt.v1alpha1.PiiAnonymizer.Transform:
      type: object
      properties:
        config:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.TransformerConfig'
          title: config
          description: The transformer to use. If not provided, a transformer will automatically be selected (if supported), otherwise it falls back to generating a random hash.
      title: Transform
      additionalProperties: false
    mgmt.v1alpha1.PiiDenyRecognizer:
      type: object
      properties:
        name:
          type: string
          title: name
          pattern: ^[a-z0-9-_]{1,100}$
          description: Friendly name of this entity
        denyWords:
          type: array
          items:
            type: string
            minLength: 1
          title: deny_words
          description: List of words that will be treated as PII.
      title: PiiDenyRecognizer
      additionalProperties: false
    mgmt.v1alpha1.TransformCharacterScramble:
      type: object
      allOf:
        - anyOf:
            - required:
                - userProvidedRegex
            - not:
                anyOf:
                  - required:
                      - userProvidedRegex
      anyOf:
        - required:
            - userProvidedRegex
        - not:
            anyOf:
              - required:
                  - userProvidedRegex
      properties:
        userProvidedRegex:
          type: string
          title: user_provided_regex
          description: A user provided regular expression that will be used to scramble the characters in the input string. Must be a valid Golang regex.
      title: TransformCharacterScramble
      additionalProperties: false
    mgmt.v1alpha1.TransformE164PhoneNumber:
      type: object
      allOf:
        - anyOf:
            - required:
                - preserveLength
            - not:
                anyOf:
                  - required:
                      - preserveLength
      anyOf:
        - required:
            - preserveLength
        - not:
            anyOf:
              - required:
                  - preserveLength
      properties:
        preserveLength:
          type: boolean
          title: preserve_length
          description: Whether or not to preserve the original length of the phone number. This causes the transformed phone number to retain the original length.
      title: TransformE164PhoneNumber
      additionalProperties: false
    mgmt.v1alpha1.TransformEmail:
      type: object
      allOf:
        - anyOf:
            - required:
                - emailType
            - not:
                anyOf:
                  - required:
                      - emailType
        - anyOf:
            - required:
                - invalidEmailAction
            - not:
                anyOf:
                  - required:
                      - invalidEmailAction
        - anyOf:
            - required:
                - preserveDomain
            - not:
                anyOf:
                  - required:
                      - preserveDomain
        - anyOf:
            - required:
                - preserveLength
            - not:
                anyOf:
                  - required:
                      - preserveLength
      properties:
        preserveDomain:
          type: boolean
          title: preserve_domain
          description: Whether or not to preserve the original domain, barring what has been specified in the excluded_domains property.
        preserveLength:
          type: boolean
          title: preserve_length
          description: Whether or not to preserve the original length of the email. This causes the transformed email to retain the original length.
        excludedDomains:
          type: array
          items:
            type: string
          title: excluded_domains
          description: A lsit of email domains that should be excluded. This changes based on the preserve_domain flag. See the docs for more details.
        emailType:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateEmailType'
          title: email_type
          description: Optionally specify the type of email to generate. The types specified determine the contents on the left side of the @.
        invalidEmailAction:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.InvalidEmailAction'
          title: invalid_email_action
          description: Optionally specify an action in the result of an invalid email. An invalid email is one that does not conform to RFC 5322.
      title: TransformEmail
      additionalProperties: false
    mgmt.v1alpha1.TransformFirstName:
      type: object
      allOf:
        - anyOf:
            - required:
                - preserveLength
            - not:
                anyOf:
                  - required:
                      - preserveLength
      anyOf:
        - required:
            - preserveLength
        - not:
            anyOf:
              - required:
                  - preserveLength
      properties:
        preserveLength:
          type: boolean
          title: preserve_length
          description: Whether or not to preserve the original length of the first name. This causes the transformed first name to retain the original length.
      title: TransformFirstName
      additionalProperties: false
    mgmt.v1alpha1.TransformFloat64:
      type: object
      allOf:
        - anyOf:
            - required:
                - randomizationRangeMax
            - not:
                anyOf:
                  - required:
                      - randomizationRangeMax
        - anyOf:
            - required:
                - randomizationRangeMin
            - not:
                anyOf:
                  - required:
                      - randomizationRangeMin
      properties:
        randomizationRangeMin:
          type: number
          title: randomization_range_min
          format: double
          description: The minimum value to randomize the float64 to. This will be relative to the original value.
        randomizationRangeMax:
          type: number
          title: randomization_range_max
          format: double
          description: The maximum value to randomize the float64 to. This will be relative to the original value.
      title: TransformFloat64
      additionalProperties: false
    mgmt.v1alpha1.TransformFullName:
      type: object
      allOf:
        - anyOf:
            - required:
                - preserveLength
            - not:
                anyOf:
                  - required:
                      - preserveLength
      anyOf:
        - required:
            - preserveLength
        - not:
            anyOf:
              - required:
                  - preserveLength
      properties:
        preserveLength:
          type: boolean
          title: preserve_length
          description: Whether or not to preserve the original length of the full name. This causes the transformed full name to retain the original length.
      title: TransformFullName
      additionalProperties: false
    mgmt.v1alpha1.TransformHash:
      type: object
      allOf:
        - anyOf:
            - required:
                - algo
            - not:
                anyOf:
                  - required:
                      - algo
      anyOf:
        - required:
            - algo
        - not:
            anyOf:
              - required:
                  - algo
      properties:
        algo:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.TransformHash.HashType'
          title: algo
          description: The hashing algorithm to use.
      title: TransformHash
      additionalProperties: false
      description: TransformHash is a transformer that hashes the input string using the specified hashing algorithm.
    mgmt.v1alpha1.TransformInt64:
      type: object
      allOf:
        - anyOf:
            - required:
                - randomizationRangeMax
            - not:
                anyOf:
                  - required:
                      - randomizationRangeMax
        - anyOf:
            - required:
                - randomizationRangeMin
            - not:
                anyOf:
                  - required:
                      - randomizationRangeMin
      properties:
        randomizationRangeMin:
          type:
            - integer
            - string
          title: randomization_range_min
          format: int64
          description: The minimum value to randomize the int64 to. This will be relative to the original value.
        randomizationRangeMax:
          type:
            - integer
            - string
          title: randomization_range_max
          format: int64
          description: The maximum value to randomize the int64 to. This will be relative to the original value.
      title: TransformInt64
      additionalProperties: false
    mgmt.v1alpha1.TransformInt64PhoneNumber:
      type: object
      allOf:
        - anyOf:
            - required:
                - preserveLength
            - not:
                anyOf:
                  - required:
                      - preserveLength
      anyOf:
        - required:
            - preserveLength
        - not:
            anyOf:
              - required:
                  - preserveLength
      properties:
        preserveLength:
          type: boolean
          title: preserve_length
          description: Whether or not to preserve the original length of the phone number. This causes the transformed phone number to retain the original length.
      title: TransformInt64PhoneNumber
      additionalProperties: false
    mgmt.v1alpha1.TransformJavascript:
      type: object
      properties:
        code:
          type: string
          title: code
          description: The user provided javascript code that will be executed in the transformer
      title: TransformJavascript
      additionalProperties: false
    mgmt.v1alpha1.TransformLastName:
      type: object
      allOf:
        - anyOf:
            - required:
                - preserveLength
            - not:
                anyOf:
                  - required:
                      - preserveLength
      anyOf:
        - required:
            - preserveLength
        - not:
            anyOf:
              - required:
                  - preserveLength
      properties:
        preserveLength:
          type: boolean
          title: preserve_length
          description: Whether or not to preserve the original length of the last name. This causes the transformed last name to retain the original length.
      title: TransformLastName
      additionalProperties: false
    mgmt.v1alpha1.TransformPhoneNumber:
      type: object
      allOf:
        - anyOf:
            - required:
                - preserveLength
            - not:
                anyOf:
                  - required:
                      - preserveLength
      anyOf:
        - required:
            - preserveLength
        - not:
            anyOf:
              - required:
                  - preserveLength
      properties:
        preserveLength:
          type: boolean
          title: preserve_length
          description: Whether or not to preserve the original length of the phone number. This causes the transformed phone number to retain the original length.
      title: TransformPhoneNumber
      additionalProperties: false
    mgmt.v1alpha1.TransformPiiText:
      type: object
      allOf:
        - anyOf:
            - required:
                - language
            - not:
                anyOf:
                  - required:
                      - language
      anyOf:
        - required:
            - language
        - not:
            anyOf:
              - required:
                  - language
      properties:
        scoreThreshold:
          type: number
          title: score_threshold
          format: float
          description: Minimal detection score for determining PII. 0.0-1.0
        defaultAnonymizer:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.PiiAnonymizer'
          title: default_anonymizer
          description: The default anonmyization config used for all instances of detected PII.
        denyRecognizers:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.PiiDenyRecognizer'
          title: deny_recognizers
          description: Configure deny lists where each word is treated as PII.
        allowedEntities:
          type: array
          items:
            type: string
            minLength: 1
          title: allowed_entities
          description: |-
            Configure a list of entities to be used for PII analysis. If not provided or empty, all entities are considiered
             If this is specified, any ad-hoc, or deny_recognizers entity names must also be provided.
             To see available builtin entities, call the GetPiiTextEntities() RPC method to see what is available for your account.
        allowedPhrases:
          type: array
          items:
            type: string
          title: allowed_phrases
          description: Exact match of PII phrases identified by the analysis engine.
        language:
          type: string
          title: language
          description: |-
            Two characters for the desired language in ISO_639-1 format.
             If not provided, will use a default language if specified on the server.
             Depending on the server configuration, may attempt to autodetect from input.
        entityAnonymizers:
          type: object
          title: entity_anonymizers
          additionalProperties:
            allOf:
              - $ref: '#/components/schemas/mgmt.v1alpha1.PiiAnonymizer'
            title: value
          description: |-
            A map of entity names to anonymizer configurations.
             The key in this map corresponds to a recognized entity (e.g. PERSON, PHONE_NUMBER) which can be found via the GetPiiTextEntities() RPC method.
             The value in this map corresponds to the anonymizer configuration to use for that entity.
             If not provided, the default_anonymizer will be used.
      title: TransformPiiText
      additionalProperties: false
      description: NeosyncCloud/Enterprise only transformer for anonymizing PII Text
    mgmt.v1alpha1.TransformPiiText.EntityAnonymizersEntry:
      type: object
      properties:
        key:
          type: string
          title: key
        value:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.PiiAnonymizer'
          title: value
      title: EntityAnonymizersEntry
      additionalProperties: false
    mgmt.v1alpha1.TransformScrambleIdentity:
      type: object
      title: TransformScrambleIdentity
      additionalProperties: false
      description: |-
        Takes an input integer and scrambles it, effectively outputing another integer that is not the same as the input.
         This is effectively a random integer generator that has unique properties.
    mgmt.v1alpha1.TransformString:
      type: object
      allOf:
        - anyOf:
            - required:
                - preserveLength
            - not:
                anyOf:
                  - required:
                      - preserveLength
      anyOf:
        - required:
            - preserveLength
        - not:
            anyOf:
              - required:
                  - preserveLength
      properties:
        preserveLength:
          type: boolean
          title: preserve_length
          description: Whether or not to preserve the original length of the string. This causes the transformed string to retain the original length.
      title: TransformString
      additionalProperties: false
    mgmt.v1alpha1.TransformUuid:
      type: object
      title: TransformUuid
      additionalProperties: false
    mgmt.v1alpha1.TransformerConfig:
      type: object
      allOf:
        - anyOf:
            - required:
                - generateBoolConfig
            - required:
                - generateBusinessNameConfig
            - required:
                - generateCardNumberConfig
            - required:
                - generateCategoricalConfig
            - required:
                - generateCityConfig
            - required:
                - generateCountryConfig
            - required:
                - generateDefaultConfig
            - required:
                - generateE164PhoneNumberConfig
            - required:
                - generateEmailConfig
            - required:
                - generateFirstNameConfig
            - required:
                - generateFloat64Config
            - required:
                - generateFullAddressConfig
            - required:
                - generateFullNameConfig
            - required:
                - generateGenderConfig
            - required:
                - generateInt64Config
            - required:
                - generateInt64PhoneNumberConfig
            - required:
                - generateIpAddressConfig
            - required:
                - generateJavascriptConfig
            - required:
                - generateLastNameConfig
            - required:
                - generateSha256hashConfig
            - required:
                - generateSsnConfig
            - required:
                - generateStateConfig
            - required:
                - generateStreetAddressConfig
            - required:
                - generateStringConfig
            - required:
                - generateStringPhoneNumberConfig
            - required:
                - generateUnixtimestampConfig
            - required:
                - generateUsernameConfig
            - required:
                - generateUtctimestampConfig
            - required:
                - generateUuidConfig
            - required:
                - generateZipcodeConfig
            - required:
                - nullconfig
            - required:
                - passthroughConfig
            - required:
                - transformCharacterScrambleConfig
            - required:
                - transformE164PhoneNumberConfig
            - required:
                - transformEmailConfig
            - required:
                - transformFirstNameConfig
            - required:
                - transformFloat64Config
            - required:
                - transformFullNameConfig
            - required:
                - transformHashConfig
            - required:
                - transformInt64Config
            - required:
                - transformInt64PhoneNumberConfig
            - required:
                - transformJavascriptConfig
            - required:
                - transformLastNameConfig
            - required:
                - transformPhoneNumberConfig
            - required:
                - transformPiiTextConfig
            - required:
                - transformScrambleIdentityConfig
            - required:
                - transformStringConfig
            - required:
                - transformUuidConfig
            - required:
                - userDefinedTransformerConfig
            - not:
                anyOf:
                  - required:
                      - generateBoolConfig
                  - required:
                      - generateBusinessNameConfig
                  - required:
                      - generateCardNumberConfig
                  - required:
                      - generateCategoricalConfig
                  - required:
                      - generateCityConfig
                  - required:
                      - generateCountryConfig
                  - required:
                      - generateDefaultConfig
                  - required:
                      - generateE164PhoneNumberConfig
                  - required:
                      - generateEmailConfig
                  - required:
                      - generateFirstNameConfig
                  - required:
                      - generateFloat64Config
                  - required:
                      - generateFullAddressConfig
                  - required:
                      - generateFullNameConfig
                  - required:
                      - generateGenderConfig
                  - required:
                      - generateInt64Config
                  - required:
                      - generateInt64PhoneNumberConfig
                  - required:
                      - generateIpAddressConfig
                  - required:
                      - generateJavascriptConfig
                  - required:
                      - generateLastNameConfig
                  - required:
                      - generateSha256hashConfig
                  - required:
                      - generateSsnConfig
                  - required:
                      - generateStateConfig
                  - required:
                      - generateStreetAddressConfig
                  - required:
                      - generateStringConfig
                  - required:
                      - generateStringPhoneNumberConfig
                  - required:
                      - generateUnixtimestampConfig
                  - required:
                      - generateUsernameConfig
                  - required:
                      - generateUtctimestampConfig
                  - required:
                      - generateUuidConfig
                  - required:
                      - generateZipcodeConfig
                  - required:
                      - nullconfig
                  - required:
                      - passthroughConfig
                  - required:
                      - transformCharacterScrambleConfig
                  - required:
                      - transformE164PhoneNumberConfig
                  - required:
                      - transformEmailConfig
                  - required:
                      - transformFirstNameConfig
                  - required:
                      - transformFloat64Config
                  - required:
                      - transformFullNameConfig
                  - required:
                      - transformHashConfig
                  - required:
                      - transformInt64Config
                  - required:
                      - transformInt64PhoneNumberConfig
                  - required:
                      - transformJavascriptConfig
                  - required:
                      - transformLastNameConfig
                  - required:
                      - transformPhoneNumberConfig
                  - required:
                      - transformPiiTextConfig
                  - required:
                      - transformScrambleIdentityConfig
                  - required:
                      - transformStringConfig
                  - required:
                      - transformUuidConfig
                  - required:
                      - userDefinedTransformerConfig
      anyOf:
        - required:
            - generateBoolConfig
        - required:
            - generateBusinessNameConfig
        - required:
            - generateCardNumberConfig
        - required:
            - generateCategoricalConfig
        - required:
            - generateCityConfig
        - required:
            - generateCountryConfig
        - required:
            - generateDefaultConfig
        - required:
            - generateE164PhoneNumberConfig
        - required:
            - generateEmailConfig
        - required:
            - generateFirstNameConfig
        - required:
            - generateFloat64Config
        - required:
            - generateFullAddressConfig
        - required:
            - generateFullNameConfig
        - required:
            - generateGenderConfig
        - required:
            - generateInt64Config
        - required:
            - generateInt64PhoneNumberConfig
        - required:
            - generateIpAddressConfig
        - required:
            - generateJavascriptConfig
        - required:
            - generateLastNameConfig
        - required:
            - generateSha256hashConfig
        - required:
            - generateSsnConfig
        - required:
            - generateStateConfig
        - required:
            - generateStreetAddressConfig
        - required:
            - generateStringConfig
        - required:
            - generateStringPhoneNumberConfig
        - required:
            - generateUnixtimestampConfig
        - required:
            - generateUsernameConfig
        - required:
            - generateUtctimestampConfig
        - required:
            - generateUuidConfig
        - required:
            - generateZipcodeConfig
        - required:
            - nullconfig
        - required:
            - passthroughConfig
        - required:
            - transformCharacterScrambleConfig
        - required:
            - transformE164PhoneNumberConfig
        - required:
            - transformEmailConfig
        - required:
            - transformFirstNameConfig
        - required:
            - transformFloat64Config
        - required:
            - transformFullNameConfig
        - required:
            - transformHashConfig
        - required:
            - transformInt64Config
        - required:
            - transformInt64PhoneNumberConfig
        - required:
            - transformJavascriptConfig
        - required:
            - transformLastNameConfig
        - required:
            - transformPhoneNumberConfig
        - required:
            - transformPiiTextConfig
        - required:
            - transformScrambleIdentityConfig
        - required:
            - transformStringConfig
        - required:
            - transformUuidConfig
        - required:
            - userDefinedTransformerConfig
        - not:
            anyOf:
              - required:
                  - generateBoolConfig
              - required:
                  - generateBusinessNameConfig
              - required:
                  - generateCardNumberConfig
              - required:
                  - generateCategoricalConfig
              - required:
                  - generateCityConfig
              - required:
                  - generateCountryConfig
              - required:
                  - generateDefaultConfig
              - required:
                  - generateE164PhoneNumberConfig
              - required:
                  - generateEmailConfig
              - required:
                  - generateFirstNameConfig
              - required:
                  - generateFloat64Config
              - required:
                  - generateFullAddressConfig
              - required:
                  - generateFullNameConfig
              - required:
                  - generateGenderConfig
              - required:
                  - generateInt64Config
              - required:
                  - generateInt64PhoneNumberConfig
              - required:
                  - generateIpAddressConfig
              - required:
                  - generateJavascriptConfig
              - required:
                  - generateLastNameConfig
              - required:
                  - generateSha256hashConfig
              - required:
                  - generateSsnConfig
              - required:
                  - generateStateConfig
              - required:
                  - generateStreetAddressConfig
              - required:
                  - generateStringConfig
              - required:
                  - generateStringPhoneNumberConfig
              - required:
                  - generateUnixtimestampConfig
              - required:
                  - generateUsernameConfig
              - required:
                  - generateUtctimestampConfig
              - required:
                  - generateUuidConfig
              - required:
                  - generateZipcodeConfig
              - required:
                  - nullconfig
              - required:
                  - passthroughConfig
              - required:
                  - transformCharacterScrambleConfig
              - required:
                  - transformE164PhoneNumberConfig
              - required:
                  - transformEmailConfig
              - required:
                  - transformFirstNameConfig
              - required:
                  - transformFloat64Config
              - required:
                  - transformFullNameConfig
              - required:
                  - transformHashConfig
              - required:
                  - transformInt64Config
              - required:
                  - transformInt64PhoneNumberConfig
              - required:
                  - transformJavascriptConfig
              - required:
                  - transformLastNameConfig
              - required:
                  - transformPhoneNumberConfig
              - required:
                  - transformPiiTextConfig
              - required:
                  - transformScrambleIdentityConfig
              - required:
                  - transformStringConfig
              - required:
                  - transformUuidConfig
              - required:
                  - userDefinedTransformerConfig
      properties:
        generateEmailConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateEmail'
          title: generate_email_config
        transformEmailConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.TransformEmail'
          title: transform_email_config
        generateBoolConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateBool'
          title: generate_bool_config
        generateCardNumberConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateCardNumber'
          title: generate_card_number_config
        generateCityConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateCity'
          title: generate_city_config
        generateE164PhoneNumberConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateE164PhoneNumber'
          title: generate_e164_phone_number_config
        generateFirstNameConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateFirstName'
          title: generate_first_name_config
        generateFloat64Config:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateFloat64'
          title: generate_float64_config
        generateFullAddressConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateFullAddress'
          title: generate_full_address_config
        generateFullNameConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateFullName'
          title: generate_full_name_config
        generateGenderConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateGender'
          title: generate_gender_config
        generateInt64PhoneNumberConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateInt64PhoneNumber'
          title: generate_int64_phone_number_config
        generateInt64Config:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateInt64'
          title: generate_int64_config
        generateLastNameConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateLastName'
          title: generate_last_name_config
        generateSha256hashConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateSha256Hash'
          title: generate_sha256hash_config
        generateSsnConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateSSN'
          title: generate_ssn_config
        generateStateConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateState'
          title: generate_state_config
        generateStreetAddressConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateStreetAddress'
          title: generate_street_address_config
        generateStringPhoneNumberConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateStringPhoneNumber'
          title: generate_string_phone_number_config
        generateStringConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateString'
          title: generate_string_config
        generateUnixtimestampConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateUnixTimestamp'
          title: generate_unixtimestamp_config
        generateUsernameConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateUsername'
          title: generate_username_config
        generateUtctimestampConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateUtcTimestamp'
          title: generate_utctimestamp_config
        generateUuidConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateUuid'
          title: generate_uuid_config
        generateZipcodeConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateZipcode'
          title: generate_zipcode_config
        transformE164PhoneNumberConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.TransformE164PhoneNumber'
          title: transform_e164_phone_number_config
        transformFirstNameConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.TransformFirstName'
          title: transform_first_name_config
        transformFloat64Config:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.TransformFloat64'
          title: transform_float64_config
        transformFullNameConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.TransformFullName'
          title: transform_full_name_config
        transformInt64PhoneNumberConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.TransformInt64PhoneNumber'
          title: transform_int64_phone_number_config
        transformInt64Config:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.TransformInt64'
          title: transform_int64_config
        transformLastNameConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.TransformLastName'
          title: transform_last_name_config
        transformPhoneNumberConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.TransformPhoneNumber'
          title: transform_phone_number_config
        transformStringConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.TransformString'
          title: transform_string_config
        passthroughConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.Passthrough'
          title: passthrough_config
        nullconfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.Null'
          title: nullconfig
        userDefinedTransformerConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.UserDefinedTransformerConfig'
          title: user_defined_transformer_config
        generateDefaultConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateDefault'
          title: generate_default_config
        transformJavascriptConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.TransformJavascript'
          title: transform_javascript_config
        generateCategoricalConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateCategorical'
          title: generate_categorical_config
        transformCharacterScrambleConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.TransformCharacterScramble'
          title: transform_character_scramble_config
        generateJavascriptConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateJavascript'
          title: generate_javascript_config
        generateCountryConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateCountry'
          title: generate_country_config
        transformPiiTextConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.TransformPiiText'
          title: transform_pii_text_config
          description: NeosyncCloud/Enterprise only transformer for anonymizing PII Text
        generateBusinessNameConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateBusinessName'
          title: generate_business_name_config
        generateIpAddressConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.GenerateIpAddress'
          title: generate_ip_address_config
        transformUuidConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.TransformUuid'
          title: transform_uuid_config
        transformScrambleIdentityConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.TransformScrambleIdentity'
          title: transform_scramble_identity_config
          description: Scrambles an integer while keeping it unique.
        transformHashConfig:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.TransformHash'
          title: transform_hash_config
          description: TransformHash is a transformer that hashes the input string using the specified hashing algorithm.
      title: TransformerConfig
      additionalProperties: false
      description: The configuration for a transformer. This determines what type of transformation or generation is performed.
    mgmt.v1alpha1.TransformerMapping:
      type: object
      properties:
        expression:
          type: string
          title: expression
          description: JQ Expression or Field Path to apply the transformation to
        transformer:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.TransformerConfig'
          title: transformer
          description: Configuration of Transformer to apply
      title: TransformerMapping
      required:
        - expression
        - transformer
      additionalProperties: false
    mgmt.v1alpha1.UserDefinedTransformerConfig:
      type: object
      properties:
        id:
          type: string
          title: id
          format: uuid
          description: The id of the user defined transformer. When used in a job mapping, this will be used to reference the underlying system transformer along with it's configuration that was chosen.
      title: UserDefinedTransformerConfig
      additionalProperties: false
    connect-protocol-version:
      type: number
      title: Connect-Protocol-Version
      enum:
        - 1
      description: Define the version of the Connect protocol
      const: 1
    connect-timeout-header:
      type: number
      title: Connect-Timeout-Ms
      description: Define the timeout, in ms
    connect.error:
      type: object
      properties:
        code:
          type: string
          examples:
            - CodeNotFound
          enum:
            - CodeCanceled
            - CodeUnknown
            - CodeInvalidArgument
            - CodeDeadlineExceeded
            - CodeNotFound
            - CodeAlreadyExists
            - CodePermissionDenied
            - CodeResourceExhausted
            - CodeFailedPrecondition
            - CodeAborted
            - CodeOutOfRange
            - CodeInternal
            - CodeUnavailable
            - CodeDataLoss
            - CodeUnauthenticated
          description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
        message:
          type: string
          description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.
        detail:
          $ref: '#/components/schemas/google.protobuf.Any'
      title: Connect Error
      additionalProperties: true
      description: 'Error type returned by Connect: https://connectrpc.com/docs/go/errors/#http-representation'
    google.protobuf.Any:
      type: object
      properties:
        type:
          type: string
        value:
          type: string
          format: binary
        debug:
          type: object
          additionalProperties: true
      additionalProperties: true
      description: Contains an arbitrary serialized message along with a @type that describes the type of the serialized message.
security:
  - BearerAuth: []
paths:
  /mgmt.v1alpha1.AnonymizationService/AnonymizeMany:
    post:
      tags:
        - mgmt.v1alpha1.AnonymizationService
      summary: AnonymizeMany
      description: Anonymizes many JSON strings by applying specified transformation mappings. This is the bulk version of the `AnonymizeSingle` method.
      operationId: mgmt.v1alpha1.AnonymizationService.AnonymizeMany
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.AnonymizeManyRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.AnonymizeManyResponse'
  /mgmt.v1alpha1.AnonymizationService/AnonymizeSingle:
    post:
      tags:
        - mgmt.v1alpha1.AnonymizationService
      summary: AnonymizeSingle
      description: Anonymizes a single JSON strings by applying specified transformation mappings.
      operationId: mgmt.v1alpha1.AnonymizationService.AnonymizeSingle
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.AnonymizeSingleRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.AnonymizeSingleResponse'
tags:
  - name: mgmt.v1alpha1.AnonymizationService
    description: Service that transactionally anonymizes data, regardless of the connection type.
