openapi: 3.1.0
info:
  summary: Neosync API
  version: "0.5"
  termsOfService: "https://www.neosync.dev/terms-of-service"
  contact:
    name: Neosync Support
    email: support@neosync.dev
  license:
    name: MIT
    url: https://github.com/nucleuscloud/neosync/blob/main/LICENSE.md
  title: mgmt.v1alpha1
externalDocs:
  description: API and SDK Documentation
  url: https://docs.neosync.dev/api
servers:
  - url: https://neosync-api.svcs.neosync.dev
    description: Neosync Cloud
  - url: http://localhost:{port}
    description: Development
    variables:
      port:
        default: "8080"
        description: The port to use for the development server
components:
  schemas:
    google.protobuf.Timestamp:
      type: string
      format: date-time
      description: |-
        A Timestamp represents a point in time independent of any time zone or local
         calendar, encoded as a count of seconds and fractions of seconds at
         nanosecond resolution. The count is relative to an epoch at UTC midnight on
         January 1, 1970, in the proleptic Gregorian calendar which extends the
         Gregorian calendar backwards to year one.

         All minutes are 60 seconds long. Leap seconds are "smeared" so that no leap
         second table is needed for interpretation, using a [24-hour linear
         smear](https://developers.google.com/time/smear).

         The range is from 0001-01-01T00:00:00Z to 9999-12-31T23:59:59.999999999Z. By
         restricting to that range, we ensure that we can convert to and from [RFC
         3339](https://www.ietf.org/rfc/rfc3339.txt) date strings.

         # Examples

         Example 1: Compute Timestamp from POSIX `time()`.

             Timestamp timestamp;
             timestamp.set_seconds(time(NULL));
             timestamp.set_nanos(0);

         Example 2: Compute Timestamp from POSIX `gettimeofday()`.

             struct timeval tv;
             gettimeofday(&tv, NULL);

             Timestamp timestamp;
             timestamp.set_seconds(tv.tv_sec);
             timestamp.set_nanos(tv.tv_usec * 1000);

         Example 3: Compute Timestamp from Win32 `GetSystemTimeAsFileTime()`.

             FILETIME ft;
             GetSystemTimeAsFileTime(&ft);
             UINT64 ticks = (((UINT64)ft.dwHighDateTime) << 32) | ft.dwLowDateTime;

             // A Windows tick is 100 nanoseconds. Windows epoch 1601-01-01T00:00:00Z
             // is 11644473600 seconds before Unix epoch 1970-01-01T00:00:00Z.
             Timestamp timestamp;
             timestamp.set_seconds((INT64) ((ticks / 10000000) - 11644473600LL));
             timestamp.set_nanos((INT32) ((ticks % 10000000) * 100));

         Example 4: Compute Timestamp from Java `System.currentTimeMillis()`.

             long millis = System.currentTimeMillis();

             Timestamp timestamp = Timestamp.newBuilder().setSeconds(millis / 1000)
                 .setNanos((int) ((millis % 1000) * 1000000)).build();

         Example 5: Compute Timestamp from Java `Instant.now()`.

             Instant now = Instant.now();

             Timestamp timestamp =
                 Timestamp.newBuilder().setSeconds(now.getEpochSecond())
                     .setNanos(now.getNano()).build();

         Example 6: Compute Timestamp from current time in Python.

             timestamp = Timestamp()
             timestamp.GetCurrentTime()

         # JSON Mapping

         In JSON format, the Timestamp type is encoded as a string in the
         [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt) format. That is, the
         format is "{year}-{month}-{day}T{hour}:{min}:{sec}[.{frac_sec}]Z"
         where {year} is always expressed using four digits while {month}, {day},
         {hour}, {min}, and {sec} are zero-padded to two digits each. The fractional
         seconds, which can go up to 9 digits (i.e. up to 1 nanosecond resolution),
         are optional. The "Z" suffix indicates the timezone ("UTC"); the timezone
         is required. A proto3 JSON serializer should always use UTC (as indicated by
         "Z") when printing the Timestamp type and a proto3 JSON parser should be
         able to accept both UTC and other timezones (as indicated by an offset).

         For example, "2017-01-15T01:30:15.01Z" encodes 15.01 seconds past
         01:30 UTC on January 15, 2017.

         In JavaScript, one can convert a Date object to this format using the
         standard
         [toISOString()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toISOString)
         method. In Python, a standard `datetime.datetime` object can be converted
         to this format using
         [`strftime`](https://docs.python.org/2/library/time.html#time.strftime) with
         the time format spec '%Y-%m-%dT%H:%M:%S.%fZ'. Likewise, in Java, one can use
         the Joda Time's [`ISODateTimeFormat.dateTime()`](
         http://joda-time.sourceforge.net/apidocs/org/joda/time/format/ISODateTimeFormat.html#dateTime()
         ) to obtain a formatter capable of generating timestamps in this format.
    mgmt.v1alpha1.AccountApiKey:
      type: object
      allOf:
        - anyOf:
            - required:
                - keyValue
            - not:
                anyOf:
                  - required:
                      - keyValue
      anyOf:
        - required:
            - keyValue
        - not:
            anyOf:
              - required:
                  - keyValue
      properties:
        id:
          type: string
          title: id
          description: The unique identifier of the API key
        name:
          type: string
          title: name
          description: The friendly name of the API Key
        accountId:
          type: string
          title: account_id
          description: The unique identifier of the account that the API key belongs to
        createdById:
          type: string
          title: created_by_id
          description: The unique identifier of the user that created the API key
        createdAt:
          allOf:
            - $ref: '#/components/schemas/google.protobuf.Timestamp'
          title: created_at
          description: The timestamp of when the API key was created
        updatedById:
          type: string
          title: updated_by_id
          description: The unique identifier of the user that last updated the API key
        updatedAt:
          allOf:
            - $ref: '#/components/schemas/google.protobuf.Timestamp'
          title: updated_at
          description: The timestamp of when the API key was last updated
        keyValue:
          type: string
          title: key_value
          description: key_value is only returned on initial creation or when it is regenerated
        userId:
          type: string
          title: user_id
          description: The unique identifier of the user that the API key belongs to (Each API Key is associated with its own user record to identify what the API key does in the system)
        expiresAt:
          allOf:
            - $ref: '#/components/schemas/google.protobuf.Timestamp'
          title: expires_at
          description: The timestamp of what the API key expires and will not longer be usable.
      title: AccountApiKey
      additionalProperties: false
    mgmt.v1alpha1.CreateAccountApiKeyRequest:
      type: object
      properties:
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The unique identifier of the account to create the API key for.
        name:
          type: string
          title: name
          pattern: ^[a-z0-9-]{3,100}$
          description: The friendly name of the API key
        expiresAt:
          allOf:
            - $ref: '#/components/schemas/google.protobuf.Timestamp'
          title: expires_at
          description: 'Validate between now and one year: now < x < 365 days'
      title: CreateAccountApiKeyRequest
      required:
        - expiresAt
      additionalProperties: false
    mgmt.v1alpha1.CreateAccountApiKeyResponse:
      type: object
      properties:
        apiKey:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.AccountApiKey'
          title: api_key
          description: The created API key
      title: CreateAccountApiKeyResponse
      additionalProperties: false
    mgmt.v1alpha1.DeleteAccountApiKeyRequest:
      type: object
      properties:
        id:
          type: string
          title: id
          format: uuid
          description: The unique identifier of the API key to delete.
      title: DeleteAccountApiKeyRequest
      additionalProperties: false
    mgmt.v1alpha1.DeleteAccountApiKeyResponse:
      type: object
      title: DeleteAccountApiKeyResponse
      additionalProperties: false
    mgmt.v1alpha1.GetAccountApiKeyRequest:
      type: object
      properties:
        id:
          type: string
          title: id
          format: uuid
          description: The unique identifier of the API key to get.
      title: GetAccountApiKeyRequest
      additionalProperties: false
    mgmt.v1alpha1.GetAccountApiKeyResponse:
      type: object
      properties:
        apiKey:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.AccountApiKey'
          title: api_key
          description: The API key that was retrieved.
      title: GetAccountApiKeyResponse
      additionalProperties: false
    mgmt.v1alpha1.GetAccountApiKeysRequest:
      type: object
      properties:
        accountId:
          type: string
          title: account_id
          format: uuid
          description: The unique identifier of the account to get the API keys for.
      title: GetAccountApiKeysRequest
      additionalProperties: false
    mgmt.v1alpha1.GetAccountApiKeysResponse:
      type: object
      properties:
        apiKeys:
          type: array
          items:
            $ref: '#/components/schemas/mgmt.v1alpha1.AccountApiKey'
          title: api_keys
          description: The list of API keys for the account.
      title: GetAccountApiKeysResponse
      additionalProperties: false
    mgmt.v1alpha1.RegenerateAccountApiKeyRequest:
      type: object
      properties:
        id:
          type: string
          title: id
          format: uuid
          description: The unique identifier of the API key to regenerate.
        expiresAt:
          allOf:
            - $ref: '#/components/schemas/google.protobuf.Timestamp'
          title: expires_at
          description: 'Validate between now and one year: now < x < 365 days'
      title: RegenerateAccountApiKeyRequest
      required:
        - expiresAt
      additionalProperties: false
    mgmt.v1alpha1.RegenerateAccountApiKeyResponse:
      type: object
      properties:
        apiKey:
          allOf:
            - $ref: '#/components/schemas/mgmt.v1alpha1.AccountApiKey'
          title: api_key
          description: The regenerated API key
      title: RegenerateAccountApiKeyResponse
      additionalProperties: false
    connect-protocol-version:
      type: number
      title: Connect-Protocol-Version
      enum:
        - 1
      description: Define the version of the Connect protocol
      const: 1
    connect-timeout-header:
      type: number
      title: Connect-Timeout-Ms
      description: Define the timeout, in ms
    connect.error:
      type: object
      properties:
        code:
          type: string
          examples:
            - CodeNotFound
          enum:
            - CodeCanceled
            - CodeUnknown
            - CodeInvalidArgument
            - CodeDeadlineExceeded
            - CodeNotFound
            - CodeAlreadyExists
            - CodePermissionDenied
            - CodeResourceExhausted
            - CodeFailedPrecondition
            - CodeAborted
            - CodeOutOfRange
            - CodeInternal
            - CodeUnavailable
            - CodeDataLoss
            - CodeUnauthenticated
          description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
        message:
          type: string
          description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.
        detail:
          $ref: '#/components/schemas/google.protobuf.Any'
      title: Connect Error
      additionalProperties: true
      description: 'Error type returned by Connect: https://connectrpc.com/docs/go/errors/#http-representation'
    google.protobuf.Any:
      type: object
      properties:
        type:
          type: string
        value:
          type: string
          format: binary
        debug:
          type: object
          additionalProperties: true
      additionalProperties: true
      description: Contains an arbitrary serialized message along with a @type that describes the type of the serialized message.
security:
  - BearerAuth: []
paths:
  /mgmt.v1alpha1.ApiKeyService/GetAccountApiKeys:
    post:
      tags:
        - mgmt.v1alpha1.ApiKeyService
      summary: GetAccountApiKeys
      description: Retrieves a list of Account API Keys
      operationId: mgmt.v1alpha1.ApiKeyService.GetAccountApiKeys
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetAccountApiKeysRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetAccountApiKeysResponse'
  /mgmt.v1alpha1.ApiKeyService/GetAccountApiKey:
    post:
      tags:
        - mgmt.v1alpha1.ApiKeyService
      summary: GetAccountApiKey
      description: Retrieves a single API Key
      operationId: mgmt.v1alpha1.ApiKeyService.GetAccountApiKey
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetAccountApiKeyRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetAccountApiKeyResponse'
  /mgmt.v1alpha1.ApiKeyService/CreateAccountApiKey:
    post:
      tags:
        - mgmt.v1alpha1.ApiKeyService
      summary: CreateAccountApiKey
      description: |-
        Creates a single API Key
         This method will return the decrypted contents of the API key
      operationId: mgmt.v1alpha1.ApiKeyService.CreateAccountApiKey
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.CreateAccountApiKeyRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.CreateAccountApiKeyResponse'
  /mgmt.v1alpha1.ApiKeyService/RegenerateAccountApiKey:
    post:
      tags:
        - mgmt.v1alpha1.ApiKeyService
      summary: RegenerateAccountApiKey
      description: |-
        Regenerates a single API Key with a new expiration time
         This method will return the decrypted contents of the API key
      operationId: mgmt.v1alpha1.ApiKeyService.RegenerateAccountApiKey
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.RegenerateAccountApiKeyRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.RegenerateAccountApiKeyResponse'
  /mgmt.v1alpha1.ApiKeyService/DeleteAccountApiKey:
    post:
      tags:
        - mgmt.v1alpha1.ApiKeyService
      summary: DeleteAccountApiKey
      description: Deletes an API Key from the system.
      operationId: mgmt.v1alpha1.ApiKeyService.DeleteAccountApiKey
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.DeleteAccountApiKeyRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.DeleteAccountApiKeyResponse'
tags:
  - name: mgmt.v1alpha1.ApiKeyService
    description: Service that manages the lifecycle of API Keys that are associated with a specific Account.
