@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --card-border: 213 4% 80%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --badge: 240 0% 96%;
    --badge-border: 213 0% 91%;
  }

  .dark {
    --background: 240 9% 13%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --card-border: 213 4% 30%;

    --popover: 240 9% 13%;
    --popover-foreground: 210 40% 98%;

    --primary: 217.2 91.2% 49.8%;
    --primary-foreground: 210 40% 98%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 11% 25%;
    --ring: 212.7 11.8% 40.9%;

    --badge: 240 9% 20%;
    --badge-border: 212.7 11.8% 40.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.monaco-editor .monaco-editor-overlaymessage {
  color: black; /* White text color */
}

.monaco-editor .monaco-editor-overlaymessage .anchor {
  color: red; /* White text color */
  background-color: transparent;
}

.edge-path {
  strokedasharray: 12 12;
  animation: dashdraw 2s linear infinite;
}
@keyframes dashdraw {
  to {
    stroke-dashoffset: -80;
  }
}
