openapi: 3.1.0
info:
  summary: Neosync API
  version: '0.5'
  termsOfService: https://www.neosync.dev/terms-of-service
  contact:
    name: Neosync Support
    email: support@neosync.dev
  license:
    name: MIT
    url: https://github.com/nucleuscloud/neosync/blob/main/LICENSE.md
  title: mgmt.v1alpha1
servers:
  - url: https://neosync-api.svcs.neosync.dev
    description: Neosync Cloud
  - url: http://localhost:{port}
    description: Development
    variables:
      port:
        default: '8080'
        description: The port to use for the development server
tags:
  - name: mgmt.v1alpha1.AccountHookService
    x-displayName: mgmt.v1alpha1.AccountHookService
  - name: mgmt.v1alpha1.AnonymizationService
    description: >-
      Service that transactionally anonymizes data, regardless of the connection
      type.
    x-displayName: mgmt.v1alpha1.AnonymizationService
  - name: mgmt.v1alpha1.ApiKeyService
    description: >-
      Service that manages the lifecycle of API Keys that are associated with a
      specific Account.
    x-displayName: mgmt.v1alpha1.ApiKeyService
  - name: mgmt.v1alpha1.AuthService
    description: |-
      Service that handles generic Authentication for Neosync
       Today this is mostly used by the CLI to receive authentication information
    x-displayName: mgmt.v1alpha1.AuthService
  - name: mgmt.v1alpha1.ConnectionService
    description: |-
      Service for managing datasource connections.
       This is a primary data model in Neosync and is used in reference when hooking up Jobs to synchronize and generate data.
    x-displayName: mgmt.v1alpha1.ConnectionService
  - name: mgmt.v1alpha1.ConnectionDataService
    description: |-
      Service for managing connection data.
       This is used in handle data from a connection
    x-displayName: mgmt.v1alpha1.ConnectionDataService
  - name: mgmt.v1alpha1.JobService
    description: Service that handles jobs, runs, and hooks
    x-displayName: mgmt.v1alpha1.JobService
  - name: mgmt.v1alpha1.MetricsService
    description: Service that handles serving up usage metrics
    x-displayName: mgmt.v1alpha1.MetricsService
  - name: mgmt.v1alpha1.TransformersService
    description: Service that manages system and user defined transformers
    x-displayName: mgmt.v1alpha1.TransformersService
  - name: mgmt.v1alpha1.UserAccountService
    description: Service that manages users, accounts, and billing
    x-displayName: mgmt.v1alpha1.UserAccountService
externalDocs:
  description: API and SDK Documentation
  url: https://docs.neosync.dev/api
paths:
  /mgmt.v1alpha1.AccountHookService/GetAccountHooks:
    post:
      tags:
        - mgmt.v1alpha1.AccountHookService
      summary: GetAccountHooks
      description: Retrieves all account hooks.
      operationId: mgmt.v1alpha1.AccountHookService.GetAccountHooks
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetAccountHooksRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetAccountHooksResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.AccountHookService/GetAccountHook:
    post:
      tags:
        - mgmt.v1alpha1.AccountHookService
      summary: GetAccountHook
      description: Retrieves a specific account hook.
      operationId: mgmt.v1alpha1.AccountHookService.GetAccountHook
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetAccountHookRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetAccountHookResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.AccountHookService/CreateAccountHook:
    post:
      tags:
        - mgmt.v1alpha1.AccountHookService
      summary: CreateAccountHook
      description: Creates a new account hook.
      operationId: mgmt.v1alpha1.AccountHookService.CreateAccountHook
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.CreateAccountHookRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.CreateAccountHookResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.AccountHookService/UpdateAccountHook:
    post:
      tags:
        - mgmt.v1alpha1.AccountHookService
      summary: UpdateAccountHook
      description: Updates an existing account hook.
      operationId: mgmt.v1alpha1.AccountHookService.UpdateAccountHook
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.UpdateAccountHookRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.UpdateAccountHookResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.AccountHookService/DeleteAccountHook:
    post:
      tags:
        - mgmt.v1alpha1.AccountHookService
      summary: DeleteAccountHook
      description: Deletes an account hook.
      operationId: mgmt.v1alpha1.AccountHookService.DeleteAccountHook
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.DeleteAccountHookRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.DeleteAccountHookResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.AccountHookService/IsAccountHookNameAvailable:
    post:
      tags:
        - mgmt.v1alpha1.AccountHookService
      summary: IsAccountHookNameAvailable
      description: Checks if an account hook name is available.
      operationId: mgmt.v1alpha1.AccountHookService.IsAccountHookNameAvailable
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/mgmt.v1alpha1.IsAccountHookNameAvailableRequest
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/mgmt.v1alpha1.IsAccountHookNameAvailableResponse
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.AccountHookService/SetAccountHookEnabled:
    post:
      tags:
        - mgmt.v1alpha1.AccountHookService
      summary: SetAccountHookEnabled
      description: Enables or disables an account hook.
      operationId: mgmt.v1alpha1.AccountHookService.SetAccountHookEnabled
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.SetAccountHookEnabledRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/mgmt.v1alpha1.SetAccountHookEnabledResponse
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.AccountHookService/GetActiveAccountHooksByEvent:
    post:
      tags:
        - mgmt.v1alpha1.AccountHookService
      summary: GetActiveAccountHooksByEvent
      description: Retrieves all active account hooks for a specific event.
      operationId: mgmt.v1alpha1.AccountHookService.GetActiveAccountHooksByEvent
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/mgmt.v1alpha1.GetActiveAccountHooksByEventRequest
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/mgmt.v1alpha1.GetActiveAccountHooksByEventResponse
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.AccountHookService/GetSlackConnectionUrl:
    post:
      tags:
        - mgmt.v1alpha1.AccountHookService
      summary: GetSlackConnectionUrl
      description: >-
        Retrieves the Slack connection url that allows a user to connect their
        Slack workspace to Neosync.
      operationId: mgmt.v1alpha1.AccountHookService.GetSlackConnectionUrl
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetSlackConnectionUrlRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/mgmt.v1alpha1.GetSlackConnectionUrlResponse
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.AccountHookService/HandleSlackOAuthCallback:
    post:
      tags:
        - mgmt.v1alpha1.AccountHookService
      summary: HandleSlackOAuthCallback
      description: Handles the Slack OAuth callback.
      operationId: mgmt.v1alpha1.AccountHookService.HandleSlackOAuthCallback
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/mgmt.v1alpha1.HandleSlackOAuthCallbackRequest
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/mgmt.v1alpha1.HandleSlackOAuthCallbackResponse
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.AccountHookService/TestSlackConnection:
    post:
      tags:
        - mgmt.v1alpha1.AccountHookService
      summary: TestSlackConnection
      description: >-
        Tests the Slack connection by using the stored access token to initiate
        an auth test api call to slack.
      operationId: mgmt.v1alpha1.AccountHookService.TestSlackConnection
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.TestSlackConnectionRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.TestSlackConnectionResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.AccountHookService/SendSlackMessage:
    post:
      tags:
        - mgmt.v1alpha1.AccountHookService
      summary: SendSlackMessage
      description: For sending slack messages from the worker.
      operationId: mgmt.v1alpha1.AccountHookService.SendSlackMessage
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.SendSlackMessageRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.SendSlackMessageResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.AnonymizationService/AnonymizeMany:
    post:
      tags:
        - mgmt.v1alpha1.AnonymizationService
      summary: AnonymizeMany
      description: >-
        Anonymizes many JSON strings by applying specified transformation
        mappings. This is the bulk version of the `AnonymizeSingle` method.
      operationId: mgmt.v1alpha1.AnonymizationService.AnonymizeMany
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.AnonymizeManyRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.AnonymizeManyResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.AnonymizationService/AnonymizeSingle:
    post:
      tags:
        - mgmt.v1alpha1.AnonymizationService
      summary: AnonymizeSingle
      description: >-
        Anonymizes a single JSON strings by applying specified transformation
        mappings.
      operationId: mgmt.v1alpha1.AnonymizationService.AnonymizeSingle
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.AnonymizeSingleRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.AnonymizeSingleResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.ApiKeyService/GetAccountApiKeys:
    post:
      tags:
        - mgmt.v1alpha1.ApiKeyService
      summary: GetAccountApiKeys
      description: Retrieves a list of Account API Keys
      operationId: mgmt.v1alpha1.ApiKeyService.GetAccountApiKeys
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetAccountApiKeysRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetAccountApiKeysResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.ApiKeyService/GetAccountApiKey:
    post:
      tags:
        - mgmt.v1alpha1.ApiKeyService
      summary: GetAccountApiKey
      description: Retrieves a single API Key
      operationId: mgmt.v1alpha1.ApiKeyService.GetAccountApiKey
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetAccountApiKeyRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetAccountApiKeyResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.ApiKeyService/CreateAccountApiKey:
    post:
      tags:
        - mgmt.v1alpha1.ApiKeyService
      summary: CreateAccountApiKey
      description: |-
        Creates a single API Key
         This method will return the decrypted contents of the API key
      operationId: mgmt.v1alpha1.ApiKeyService.CreateAccountApiKey
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.CreateAccountApiKeyRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.CreateAccountApiKeyResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.ApiKeyService/RegenerateAccountApiKey:
    post:
      tags:
        - mgmt.v1alpha1.ApiKeyService
      summary: RegenerateAccountApiKey
      description: |-
        Regenerates a single API Key with a new expiration time
         This method will return the decrypted contents of the API key
      operationId: mgmt.v1alpha1.ApiKeyService.RegenerateAccountApiKey
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/mgmt.v1alpha1.RegenerateAccountApiKeyRequest
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/mgmt.v1alpha1.RegenerateAccountApiKeyResponse
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.ApiKeyService/DeleteAccountApiKey:
    post:
      tags:
        - mgmt.v1alpha1.ApiKeyService
      summary: DeleteAccountApiKey
      description: Deletes an API Key from the system.
      operationId: mgmt.v1alpha1.ApiKeyService.DeleteAccountApiKey
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.DeleteAccountApiKeyRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.DeleteAccountApiKeyResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.AuthService/LoginCli:
    post:
      tags:
        - mgmt.v1alpha1.AuthService
      summary: LoginCli
      description: Used by the CLI to login to Neosync with OAuth.
      operationId: mgmt.v1alpha1.AuthService.LoginCli
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.LoginCliRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.LoginCliResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.AuthService/RefreshCli:
    post:
      tags:
        - mgmt.v1alpha1.AuthService
      summary: RefreshCli
      description: |-
        Used by the CLI to refresh an expired Neosync accesss token.
         This should only be used if an access token was previously retrieved from the `LoginCli` or `RefreshCli` methods.
      operationId: mgmt.v1alpha1.AuthService.RefreshCli
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.RefreshCliRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.RefreshCliResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.AuthService/CheckToken:
    post:
      tags:
        - mgmt.v1alpha1.AuthService
      summary: CheckToken
      description: Empty endpoint to simply check if the provided access token is valid
      operationId: mgmt.v1alpha1.AuthService.CheckToken
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.CheckTokenRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.CheckTokenResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.AuthService/GetAuthorizeUrl:
    post:
      tags:
        - mgmt.v1alpha1.AuthService
      summary: GetAuthorizeUrl
      description: Used by the CLI to retrieve an Authorize URL for use with OAuth login.
      operationId: mgmt.v1alpha1.AuthService.GetAuthorizeUrl
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetAuthorizeUrlRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetAuthorizeUrlResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.AuthService/GetAuthStatus:
    post:
      tags:
        - mgmt.v1alpha1.AuthService
      summary: GetAuthStatus
      description: >-
        Returns the auth status of the API server. Whether or not the backend
        has authentication enabled.
         This is used by clients to make decisions on whether or not they should send access tokens to the API.
      operationId: mgmt.v1alpha1.AuthService.GetAuthStatus
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetAuthStatusRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetAuthStatusResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.ConnectionService/GetConnections:
    post:
      tags:
        - mgmt.v1alpha1.ConnectionService
      summary: GetConnections
      description: Returns a list of connections associated with the account
      operationId: mgmt.v1alpha1.ConnectionService.GetConnections
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetConnectionsRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetConnectionsResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.ConnectionService/GetConnection:
    post:
      tags:
        - mgmt.v1alpha1.ConnectionService
      summary: GetConnection
      description: Returns a single connection
      operationId: mgmt.v1alpha1.ConnectionService.GetConnection
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetConnectionRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetConnectionResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.ConnectionService/CreateConnection:
    post:
      tags:
        - mgmt.v1alpha1.ConnectionService
      summary: CreateConnection
      description: Creates a new connection
      operationId: mgmt.v1alpha1.ConnectionService.CreateConnection
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.CreateConnectionRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.CreateConnectionResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.ConnectionService/UpdateConnection:
    post:
      tags:
        - mgmt.v1alpha1.ConnectionService
      summary: UpdateConnection
      description: Updates an existing connection
      operationId: mgmt.v1alpha1.ConnectionService.UpdateConnection
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.UpdateConnectionRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.UpdateConnectionResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.ConnectionService/DeleteConnection:
    post:
      tags:
        - mgmt.v1alpha1.ConnectionService
      summary: DeleteConnection
      description: Removes a connection from the system.
      operationId: mgmt.v1alpha1.ConnectionService.DeleteConnection
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.DeleteConnectionRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.DeleteConnectionResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.ConnectionService/IsConnectionNameAvailable:
    post:
      tags:
        - mgmt.v1alpha1.ConnectionService
      summary: IsConnectionNameAvailable
      description: >-
        Connections have friendly names, this method checks if the requested
        name is available in the system based on the account
      operationId: mgmt.v1alpha1.ConnectionService.IsConnectionNameAvailable
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/mgmt.v1alpha1.IsConnectionNameAvailableRequest
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/mgmt.v1alpha1.IsConnectionNameAvailableResponse
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.ConnectionService/CheckConnectionConfig:
    post:
      tags:
        - mgmt.v1alpha1.ConnectionService
      summary: CheckConnectionConfig
      description: |-
        Checks if the connection config is connectable by the backend.
         Used mostly to verify that a connection is valid prior to creating a Connection object.
      operationId: mgmt.v1alpha1.ConnectionService.CheckConnectionConfig
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.CheckConnectionConfigRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/mgmt.v1alpha1.CheckConnectionConfigResponse
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.ConnectionService/CheckConnectionConfigById:
    post:
      tags:
        - mgmt.v1alpha1.ConnectionService
      summary: CheckConnectionConfigById
      description: |-
        Checks if the connection id is connectable by the backend.
         Used to verify that a connection is still connectable.
      operationId: mgmt.v1alpha1.ConnectionService.CheckConnectionConfigById
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/mgmt.v1alpha1.CheckConnectionConfigByIdRequest
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/mgmt.v1alpha1.CheckConnectionConfigByIdResponse
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.ConnectionService/CheckSqlQuery:
    post:
      tags:
        - mgmt.v1alpha1.ConnectionService
      summary: CheckSqlQuery
      description: >-
        Checks a constructed SQL query against a sql-based connection to see if
        it's valid based on that connection's data schema
         This is useful when constructing subsets to see if the WHERE clause is correct
      operationId: mgmt.v1alpha1.ConnectionService.CheckSqlQuery
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.CheckSqlQueryRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.CheckSqlQueryResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.ConnectionDataService/GetConnectionDataStream: {}
  /mgmt.v1alpha1.ConnectionDataService/GetConnectionSchema:
    post:
      tags:
        - mgmt.v1alpha1.ConnectionDataService
      summary: GetConnectionSchema
      description: >-
        Returns the schema for a specific connection. Used mostly for SQL-based
        connections
      operationId: mgmt.v1alpha1.ConnectionDataService.GetConnectionSchema
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetConnectionSchemaRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetConnectionSchemaResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.ConnectionDataService/GetConnectionSchemaMap:
    post:
      tags:
        - mgmt.v1alpha1.ConnectionDataService
      summary: GetConnectionSchemaMap
      description: >-
        Returns the schema in map format. The keys are the fully qualified table
        in the format <schema>.<table>
      operationId: mgmt.v1alpha1.ConnectionDataService.GetConnectionSchemaMap
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetConnectionSchemaMapRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/mgmt.v1alpha1.GetConnectionSchemaMapResponse
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.ConnectionDataService/GetConnectionSchemaMaps:
    post:
      tags:
        - mgmt.v1alpha1.ConnectionDataService
      summary: GetConnectionSchemaMaps
      description: Returns the schema in map format for every request provided
      operationId: mgmt.v1alpha1.ConnectionDataService.GetConnectionSchemaMaps
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/mgmt.v1alpha1.GetConnectionSchemaMapsRequest
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/mgmt.v1alpha1.GetConnectionSchemaMapsResponse
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.ConnectionDataService/GetConnectionTableConstraints:
    post:
      tags:
        - mgmt.v1alpha1.ConnectionDataService
      summary: GetConnectionTableConstraints
      description: >-
        For a specific connection, returns the table constraints. Mostly useful
        for SQL-based Connections.
      operationId: mgmt.v1alpha1.ConnectionDataService.GetConnectionTableConstraints
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/mgmt.v1alpha1.GetConnectionTableConstraintsRequest
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/mgmt.v1alpha1.GetConnectionTableConstraintsResponse
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.ConnectionDataService/GetConnectionInitStatements:
    post:
      tags:
        - mgmt.v1alpha1.ConnectionDataService
      summary: GetConnectionInitStatements
      description: >-
        For a specific connection, returns the init table statements. Mostly
        useful for SQL-based Connections.
         Used primarily by the CLI sync command to create table schema init statement.
      operationId: mgmt.v1alpha1.ConnectionDataService.GetConnectionInitStatements
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/mgmt.v1alpha1.GetConnectionInitStatementsRequest
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/mgmt.v1alpha1.GetConnectionInitStatementsResponse
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.ConnectionDataService/GetAiGeneratedData:
    post:
      tags:
        - mgmt.v1alpha1.ConnectionDataService
      summary: GetAiGeneratedData
      description: >-
        Query an AI connection by providing the necessary values. Typically used
        for generating preview data
      operationId: mgmt.v1alpha1.ConnectionDataService.GetAiGeneratedData
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetAiGeneratedDataRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetAiGeneratedDataResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.ConnectionDataService/GetTableRowCount:
    post:
      tags:
        - mgmt.v1alpha1.ConnectionDataService
      summary: GetTableRowCount
      description: Query table with subset to get row count
      operationId: mgmt.v1alpha1.ConnectionDataService.GetTableRowCount
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetTableRowCountRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetTableRowCountResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.JobService/GetJobs:
    post:
      tags:
        - mgmt.v1alpha1.JobService
      summary: GetJobs
      description: Returns a list of jobs by either account or job
      operationId: mgmt.v1alpha1.JobService.GetJobs
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetJobsRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetJobsResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.JobService/GetJob:
    post:
      tags:
        - mgmt.v1alpha1.JobService
      summary: GetJob
      description: Returns a specific job
      operationId: mgmt.v1alpha1.JobService.GetJob
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetJobRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetJobResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.JobService/CreateJob:
    post:
      tags:
        - mgmt.v1alpha1.JobService
      summary: CreateJob
      description: Creates a new job
      operationId: mgmt.v1alpha1.JobService.CreateJob
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.CreateJobRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.CreateJobResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.JobService/DeleteJob:
    post:
      tags:
        - mgmt.v1alpha1.JobService
      summary: DeleteJob
      description: Deletes a job
      operationId: mgmt.v1alpha1.JobService.DeleteJob
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.DeleteJobRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.DeleteJobResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.JobService/IsJobNameAvailable:
    post:
      tags:
        - mgmt.v1alpha1.JobService
      summary: IsJobNameAvailable
      description: Checks if a job name is available
      operationId: mgmt.v1alpha1.JobService.IsJobNameAvailable
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.IsJobNameAvailableRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.IsJobNameAvailableResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.JobService/UpdateJobSchedule:
    post:
      tags:
        - mgmt.v1alpha1.JobService
      summary: UpdateJobSchedule
      description: Updates the schedule of a job
      operationId: mgmt.v1alpha1.JobService.UpdateJobSchedule
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.UpdateJobScheduleRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.UpdateJobScheduleResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.JobService/UpdateJobSourceConnection:
    post:
      tags:
        - mgmt.v1alpha1.JobService
      summary: UpdateJobSourceConnection
      description: Updates the source connection of a job
      operationId: mgmt.v1alpha1.JobService.UpdateJobSourceConnection
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/mgmt.v1alpha1.UpdateJobSourceConnectionRequest
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/mgmt.v1alpha1.UpdateJobSourceConnectionResponse
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.JobService/SetJobSourceSqlConnectionSubsets:
    post:
      tags:
        - mgmt.v1alpha1.JobService
      summary: SetJobSourceSqlConnectionSubsets
      description: Sets the source sql connection subsets of a job
      operationId: mgmt.v1alpha1.JobService.SetJobSourceSqlConnectionSubsets
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/mgmt.v1alpha1.SetJobSourceSqlConnectionSubsetsRequest
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/mgmt.v1alpha1.SetJobSourceSqlConnectionSubsetsResponse
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.JobService/UpdateJobDestinationConnection:
    post:
      tags:
        - mgmt.v1alpha1.JobService
      summary: UpdateJobDestinationConnection
      description: Updates the destination connection of a job
      operationId: mgmt.v1alpha1.JobService.UpdateJobDestinationConnection
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/mgmt.v1alpha1.UpdateJobDestinationConnectionRequest
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/mgmt.v1alpha1.UpdateJobDestinationConnectionResponse
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.JobService/DeleteJobDestinationConnection:
    post:
      tags:
        - mgmt.v1alpha1.JobService
      summary: DeleteJobDestinationConnection
      description: Deletes the destination connection of a job
      operationId: mgmt.v1alpha1.JobService.DeleteJobDestinationConnection
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/mgmt.v1alpha1.DeleteJobDestinationConnectionRequest
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/mgmt.v1alpha1.DeleteJobDestinationConnectionResponse
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.JobService/CreateJobDestinationConnections:
    post:
      tags:
        - mgmt.v1alpha1.JobService
      summary: CreateJobDestinationConnections
      description: Creates the destination connections of a job
      operationId: mgmt.v1alpha1.JobService.CreateJobDestinationConnections
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/mgmt.v1alpha1.CreateJobDestinationConnectionsRequest
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/mgmt.v1alpha1.CreateJobDestinationConnectionsResponse
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.JobService/PauseJob:
    post:
      tags:
        - mgmt.v1alpha1.JobService
      summary: PauseJob
      description: Pauses or unpauses a job
      operationId: mgmt.v1alpha1.JobService.PauseJob
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.PauseJobRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.PauseJobResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.JobService/GetJobRecentRuns:
    post:
      tags:
        - mgmt.v1alpha1.JobService
      summary: GetJobRecentRuns
      description: >-
        Returns a list of recently invoked job runs based on the Temporal cron
        scheduler. This will return a list of job runs that include archived
        runs
      operationId: mgmt.v1alpha1.JobService.GetJobRecentRuns
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetJobRecentRunsRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetJobRecentRunsResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.JobService/GetJobNextRuns:
    post:
      tags:
        - mgmt.v1alpha1.JobService
      summary: GetJobNextRuns
      description: >-
        Returns a list of runs that are scheduled for execution based on the
        Temporal cron scheduler.
      operationId: mgmt.v1alpha1.JobService.GetJobNextRuns
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetJobNextRunsRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetJobNextRunsResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.JobService/GetJobStatus:
    post:
      tags:
        - mgmt.v1alpha1.JobService
      summary: GetJobStatus
      description: Returns the status of a job
      operationId: mgmt.v1alpha1.JobService.GetJobStatus
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetJobStatusRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetJobStatusResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.JobService/GetJobStatuses:
    post:
      tags:
        - mgmt.v1alpha1.JobService
      summary: GetJobStatuses
      description: Returns the statuses of jobs within an account
      operationId: mgmt.v1alpha1.JobService.GetJobStatuses
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetJobStatusesRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetJobStatusesResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.JobService/GetJobRuns:
    post:
      tags:
        - mgmt.v1alpha1.JobService
      summary: GetJobRuns
      description: Returns a list of job runs by either account or job
      operationId: mgmt.v1alpha1.JobService.GetJobRuns
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetJobRunsRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetJobRunsResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.JobService/GetJobRunEvents:
    post:
      tags:
        - mgmt.v1alpha1.JobService
      summary: GetJobRunEvents
      description: >-
        Returns a list of events for a job run to understand more details of the
        run itself
      operationId: mgmt.v1alpha1.JobService.GetJobRunEvents
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetJobRunEventsRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetJobRunEventsResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.JobService/GetJobRun:
    post:
      tags:
        - mgmt.v1alpha1.JobService
      summary: GetJobRun
      description: Returns a specific job run, along with any of its pending activities
      operationId: mgmt.v1alpha1.JobService.GetJobRun
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetJobRunRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetJobRunResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.JobService/DeleteJobRun:
    post:
      tags:
        - mgmt.v1alpha1.JobService
      summary: DeleteJobRun
      description: Deletes a job run
      operationId: mgmt.v1alpha1.JobService.DeleteJobRun
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.DeleteJobRunRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.DeleteJobRunResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.JobService/CreateJobRun:
    post:
      tags:
        - mgmt.v1alpha1.JobService
      summary: CreateJobRun
      description: Creates a new job run
      operationId: mgmt.v1alpha1.JobService.CreateJobRun
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.CreateJobRunRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.CreateJobRunResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.JobService/CancelJobRun:
    post:
      tags:
        - mgmt.v1alpha1.JobService
      summary: CancelJobRun
      description: >-
        Cancels a job run. This is a graceful termination and allows the
        workflow to clean up and exit gracefully.
      operationId: mgmt.v1alpha1.JobService.CancelJobRun
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.CancelJobRunRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.CancelJobRunResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.JobService/TerminateJobRun:
    post:
      tags:
        - mgmt.v1alpha1.JobService
      summary: TerminateJobRun
      description: >-
        Terminates a job run. This is an immediate termination and will not
        allow the workflow to clean up and exit gracefully.
      operationId: mgmt.v1alpha1.JobService.TerminateJobRun
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.TerminateJobRunRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.TerminateJobRunResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.JobService/GetJobRunLogsStream: {}
  /mgmt.v1alpha1.JobService/GetJobRunLogs:
    post:
      tags:
        - mgmt.v1alpha1.JobService
      summary: GetJobRunLogs
      description: >-
        Returns a list of logs from the worker nodes that pertain to a specific
        job run.
         Equivalent to the stream endpoint, but runs in a unary fashion.
      operationId: mgmt.v1alpha1.JobService.GetJobRunLogs
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetJobRunLogsRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetJobRunLogsResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.JobService/SetJobWorkflowOptions:
    post:
      tags:
        - mgmt.v1alpha1.JobService
      summary: SetJobWorkflowOptions
      description: >-
        Set any job workflow options. Must provide entire object as is it will
        fully override the previous configuration
      operationId: mgmt.v1alpha1.JobService.SetJobWorkflowOptions
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.SetJobWorkflowOptionsRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/mgmt.v1alpha1.SetJobWorkflowOptionsResponse
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.JobService/SetJobSyncOptions:
    post:
      tags:
        - mgmt.v1alpha1.JobService
      summary: SetJobSyncOptions
      description: >-
        Set the job sync options. Must provide entire object as it will fully
        override the previous configuration
      operationId: mgmt.v1alpha1.JobService.SetJobSyncOptions
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.SetJobSyncOptionsRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.SetJobSyncOptionsResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.JobService/ValidateJobMappings:
    post:
      tags:
        - mgmt.v1alpha1.JobService
      summary: ValidateJobMappings
      description: Validates that the jobmapping configured can run with table constraints
      operationId: mgmt.v1alpha1.JobService.ValidateJobMappings
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.ValidateJobMappingsRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.ValidateJobMappingsResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.JobService/ValidateSchema:
    post:
      tags:
        - mgmt.v1alpha1.JobService
      summary: ValidateSchema
      description: Validates that the schema is compatible with the job mappings
      operationId: mgmt.v1alpha1.JobService.ValidateSchema
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.ValidateSchemaRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.ValidateSchemaResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.JobService/GetRunContext:
    post:
      tags:
        - mgmt.v1alpha1.JobService
      summary: GetRunContext
      description: Gets a run context to be used by a workflow run
      operationId: mgmt.v1alpha1.JobService.GetRunContext
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetRunContextRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetRunContextResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.JobService/SetRunContext:
    post:
      tags:
        - mgmt.v1alpha1.JobService
      summary: SetRunContext
      description: Sets a run context to be used by a workflow run
      operationId: mgmt.v1alpha1.JobService.SetRunContext
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.SetRunContextRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.SetRunContextResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.JobService/SetRunContexts: {}
  /mgmt.v1alpha1.JobService/GetJobHooks:
    post:
      tags:
        - mgmt.v1alpha1.JobService
      summary: GetJobHooks
      description: Retrieves all job hooks
      operationId: mgmt.v1alpha1.JobService.GetJobHooks
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetJobHooksRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetJobHooksResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.JobService/GetJobHook:
    post:
      tags:
        - mgmt.v1alpha1.JobService
      summary: GetJobHook
      description: Retrieves a specific job hook
      operationId: mgmt.v1alpha1.JobService.GetJobHook
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.GetJobHookRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.GetJobHookResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.JobService/CreateJobHook:
    post:
      tags:
        - mgmt.v1alpha1.JobService
      summary: CreateJobHook
      description: Creates a new job hook
      operationId: mgmt.v1alpha1.JobService.CreateJobHook
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.CreateJobHookRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.CreateJobHookResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.JobService/DeleteJobHook:
    post:
      tags:
        - mgmt.v1alpha1.JobService
      summary: DeleteJobHook
      description: Removes a job hook
      operationId: mgmt.v1alpha1.JobService.DeleteJobHook
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.DeleteJobHookRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.DeleteJobHookResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.JobService/IsJobHookNameAvailable:
    post:
      tags:
        - mgmt.v1alpha1.JobService
      summary: IsJobHookNameAvailable
      description: Check if a specific job hook name is available
      operationId: mgmt.v1alpha1.JobService.IsJobHookNameAvailable
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.IsJobHookNameAvailableRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/mgmt.v1alpha1.IsJobHookNameAvailableResponse
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.JobService/UpdateJobHook:
    post:
      tags:
        - mgmt.v1alpha1.JobService
      summary: UpdateJobHook
      description: Updates a job hook
      operationId: mgmt.v1alpha1.JobService.UpdateJobHook
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.UpdateJobHookRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.UpdateJobHookResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.JobService/SetJobHookEnabled:
    post:
      tags:
        - mgmt.v1alpha1.JobService
      summary: SetJobHookEnabled
      description: Enables or disables a job hook
      operationId: mgmt.v1alpha1.JobService.SetJobHookEnabled
      parameters:
        - name: Connect-Protocol-Version
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/connect-protocol-version'
        - name: Connect-Timeout-Ms
          in: header
          schema:
            $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1alpha1.SetJobHookEnabledRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1alpha1.SetJobHookEnabledResponse'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
      security:
        - BearerAuth: []
  /mgmt.v1alpha1.JobService/GetActiveJobHooksByTiming:
    post:
      tags:
        - mgmt.v1alpha1.JobService
      summary: GetActiveJobHooksByTiming
      description: >-
[...]
