.prettierrc.json
.vercel
.vscode
README.md
tsconfig.json
charts
dev
pnpm-lock.yaml
package-lock.json
packages/sdk/src/client/
packages/sdk/dist/
package.json
.next
apps/web/@types/neosync-transformers.d.ts
**/*.yaml
