bin
.DS_Store

.env.prod
.env.stage
.env.dev
.env.dev.secrets
.env.stage.secrets
.env.prod.secrets
.env.*.secrets

*.log

node_modules

Chart.lock
**/*.tgz

go.work.sum

.data

.turbo
frontend/out


# contentlayer
.contentlayer

/package.json
/package-lock.json

env/

tmp
venv/
venv2/
python/dist/

neosync_ee_ca.key
neosync_cloud_ca.key
