USE [master]
GO
/****** Object:  Database [test-db]    Script Date: 10/25/2024 23:25:03 ******/
CREATE DATABASE [test-db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'test-db', FILENAME = N'/var/opt/mssql/data/test-db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'test-db_log', FILENAME = N'/var/opt/mssql/data/test-db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [test-db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [test-db]
GO
/****** Object:  Schema [test_schema]    Script Date: 10/25/2024 23:25:04 ******/
CREATE SCHEMA [test_schema]
GO
/****** Object:  Table [test_schema].[departments]    Script Date: 10/25/2024 23:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [test_schema].[departments](
	[department_id] [int] IDENTITY(1,1) NOT NULL,
	[department_name] [nvarchar](100) NOT NULL,
	[location] [nvarchar](100) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[department_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [test_schema].[employees]    Script Date: 10/25/2024 23:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [test_schema].[employees](
	[employee_id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[email] [nvarchar](100) NULL,
	[phone_number] [nvarchar](20) NULL,
	[hire_date] [date] NOT NULL,
	[salary] [decimal](10, 2) NULL,
	[department_id] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [test_schema].[departments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [test_schema].[departments] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [test_schema].[employees] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [test_schema].[employees] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [test_schema].[employees]  WITH CHECK ADD FOREIGN KEY([department_id])
REFERENCES [test_schema].[departments] ([department_id])
GO
USE [master]
GO
