api:
  image:
    repository: neosync-api

  serviceAccount:
    create: true

  terminationGracePeriodSeconds: 300
  shutdownTimeoutSeconds: 5

  istio:
    enabled: false

  datadog:
    enabled: false

  nucleusEnv: dev

  port: 8080

  k8:
    namespace: neosync
