/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #101010;
  --ifm-color-primary-dark: #101010;
  --ifm-color-primary-darker: #101010;
  --ifm-color-primary-darkest: #101010;
  --ifm-color-primary-light: #101010;
  --ifm-color-primary-lighter: #101010;
  --ifm-color-primary-lightest: #101010;
  --ifm-code-font-size: 95%;
  --ifm-font-family: "Inter";
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme="dark"] {
  --ifm-background-color: #101010;
  --ifm-background-surface-color: #101010;
  --ifm-color-primary: #acc7f9;
  --ifm-color-primary-dark: #9bb3de;
  --ifm-color-primary-darker: #586c91;
  --ifm-color-primary-darkest: #37455f;
  --ifm-color-primary-light: #b3cdff;
  --ifm-color-primary-lighter: #b3cdff;
  --ifm-color-primary-lightest: #b3cdff;
  --ifm-toc-border-color: #252525;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

@layer base {
  body {
    @apply mx-20;
  }
}

/*
this is the class for the sidebar categories that section headers
*/
.sidebarcategory {
  padding-left: 11px;
  padding-bottom: 10px;
  padding-top: 30px;
}

.menu__link {
  border-radius: 10px;
}

/*
side bar drop down category 
*/
.menu__list-item-collapsible {
  border-radius: 10px;
  font-weight: 400;
}

/*
the prev and next nav links at the bottom of the page
*/
.pagination-nav__link {
  border-width: 0px;
}

.pagination-nav__sublabel {
  font-size: 12px;
}

/*
each sidebar nav item
.menu__list-item {
}
*/

/*
the entire nav menu list
.menu__list {
}
*/

@layer components {
  .navbar {
    @apply py-[16px] px-[18px] shadow-none border-b border-gray-200;
  }

  [data-theme="dark"] .navbar {
    @apply border-gray-800;
  }

  [data-theme="light"] .home-icon {
    @apply text-gray-900;
  }
  [data-theme="dark"] .home-icon {
    @apply text-gray-100;
  }

  [data-theme="dark"] .breadcrumb-label {
    @apply text-gray-100 cursor-pointer text-sm rounded-full;
  }
  [data-theme="light"] .breadcrumb-label {
    @apply text-gray-900 cursor-pointer text-sm  rounded-full;
  }
  .heroImage {
    @apply py-10;
  }

  h2 {
    @apply text-gray-900 text-2xl font-semibold;
  }

  .card {
    @apply rounded-xl shadow-lg;
  }

  /*
  sidebar menu item when active
  */
  /* [data-theme="light"] .menu__link.menu__link--active {
    @apply bg-[#dce3f2];
  } */

  .custom-card-list {
    @apply grid grid-cols-3 gap-2;
  }
  .custom-card {
    @apply border border-gray-200 hover:border-2 hover:border-[#acc7f9] hover:shadow-md rounded-xl p-4 flex flex-col justify-between space-y-2;
  }
  .card-title {
    @apply font-semibold text-lg;
  }

  .card-text {
    @apply font-light;
  }

  .footer {
    @apply bg-transparent border-t border-t-gray-800 text-gray-600 text-sm;
  }
}
