/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #101010;
  --ifm-color-primary-dark: #101010;
  --ifm-color-primary-darker: #101010;
  --ifm-color-primary-darkest: #101010;
  --ifm-color-primary-light: #101010;
  --ifm-color-primary-lighter: #101010;
  --ifm-color-primary-lightest: #101010;
  --ifm-code-font-size: 90%;
  --ifm-font-family: 'Inter';
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme='dark'] {
  --ifm-background-color: #1c1c1c;
  --ifm-background-surface-color: #1c1c1c;
  --ifm-color-primary: #acc7f9;
  --ifm-color-primary-dark: #9bb3de;
  --ifm-color-primary-darker: #586c91;
  --ifm-color-primary-darkest: #37455f;
  --ifm-color-primary-light: #b3cdff;
  --ifm-color-primary-lighter: #b3cdff;
  --ifm-color-primary-lightest: #b3cdff;
  --ifm-toc-border-color: #252525;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

@layer base {
  body {
    @apply lg:mx-20 dark:text-gray-300;
  }
}

/*
this is the class for the sidebar categories that section headers
*/
.sidebarcategory {
  padding-left: 11px;
  padding-bottom: 10px;
  padding-top: 30px;
}

.table-of-contents__link {
  @apply no-underline;
}

.pagination-nav__link--prev {
  @apply no-underline;
}

.pagination-nav__link {
  @apply no-underline;
}

.navbar__items {
  @apply no-underline flex flex-row items-center;
}

.navbar__link {
  @apply no-underline py-0 dark:text-gray-300 dark:hover:text-gray-300;
}

.navbar__link:hover {
  @apply font-semibold;
}

.breadcrumbs__item {
  @apply flex flex-row items-center;
}

.navbar__items--right {
  @apply flex flex-row items-center gap-2;
}

@layer components {
  .navbar {
    @apply py-[16px] lg:mx-[40px] shadow-none border-b border-gray-200 dark:border-gray-700;
  }

  [data-theme='dark'] .navbar {
    @apply border-gray-700;
  }

  /* [data-theme='light'] .home-icon {
    @apply text-gray-900;
  }
  [data-theme='dark'] .home-icon {
    @apply text-gray-100;
  } */

  [data-theme='dark'] .breadcrumb-label {
    @apply text-gray-100 cursor-pointer text-sm rounded-full;
  }

  [data-theme='light'] .breadcrumb-label {
    @apply text-gray-900 cursor-pointer text-sm rounded-full;
  }

  .breadcrumbs__link {
    @apply py-1;
  }

  .intro-page-header {
    @apply flex flex-col text-left font-bold text-3xl pb-10;
  }

  .doc-page-header {
    @apply flex flex-col text-left font-bold text-3xl;
  }

  .transformer-page-header {
    @apply flex flex-row gap-4 font-bold text-3xl items-center;
  }

  .heroImage {
    @apply py-10;
  }

  .menu__list {
    @apply px-6 text-gray-800 dark:text-gray-300 no-underline;
  }

  .menu__link {
    @apply rounded-xl no-underline dark:text-gray-300 dark:hover:text-gray-300;
  }

  h2 {
    @apply text-gray-900 text-2xl font-semibold dark:text-gray-300;
  }

  h3 {
    @apply text-gray-900 text-xl font-semibold dark:text-gray-300;
  }

  .card {
    @apply rounded-xl shadow-lg;
  }

  .custom-card-list {
    @apply grid grid-cols-1 lg:grid-cols-2 gap-2;
  }

  .custom-card {
    @apply border border-gray-200 dark:border-gray-900 dark:bg-[#232323] hover:dark:border-gray-700 hover:border-[#acc7f9] hover:shadow-md hover:text-gray-800 dark:text-gray-300 rounded-xl p-4 flex flex-col justify-between space-y-2 dark:hover:text-gray-100;
  }

  .custom-card-icon {
    @apply border-2 border-blue-200 dark:border-gray-800 rounded-lg bg-blue-100 dark:bg-gray-700 dark:text-gray-300 p-2;
  }

  .card-title {
    @apply font-semibold text-base;
  }

  .card-text {
    @apply font-light;
  }

  .footer {
    @apply bg-transparent border-t border-t-gray-300 dark:border-t-gray-700 text-gray-600 text-sm;
  }

  /*
    the prev and next nav links at the bottom of the page
    */
  .pagination-nav__link {
    @apply border border-gray-100 hover:border-[#acc7f9] dark:border-gray-700 dark:hover:border-gray-600 hover:shadow-md;
  }

  .pagination-nav__sublabel {
    @apply text-xs;
  }

  .menu__link--sublist {
    @apply text-gray-900 font-[10px] dark:text-gray-300;
  }

  .docsImage {
    @apply border border-gray-300 shadow-lg rounded-lg overflow-hidden my-6;
  }

  a {
    @apply underline text-blue-700 hover:text-blue-700 dark:text-blue-400 dark:hover:text-blue-600;
  }
}
