releases:
  - name: neosync-worker
    chart: ../../charts/worker
    version: 'v0.0.0'
    namespace: neosync
    createNamespace: false

    values:
      - image:
          repository: neosync-worker
        serviceAccount:
          create: true

        terminationGracePeriodSeconds: 300
        shutdownTimeoutSeconds: 5

        istio:
          enabled: false

        datadog:
          enabled: false

        nucleusEnv: dev

        neosync:
          url: http://neosync-api:80
        temporal:
          url: temporal.temporal:7233
          namespace: default
          taskQueue: 'sync-job'

        redis:
          url: redis://default:foofar@redis-master.redis.svc.cluster.local:6379

        tableSync:
          maxConcurrency: 3

        containerPort: 8080
