@import "tailwindcss/base";
@import "./custom-tailwind-base.css";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import 'satoshi.css';
@import 'mdx.css';
/* @import url('mdx.css'); */



/* .edge-path {
  strokedasharray: 12 12;
  animation: dashdraw 0.5s linear infinite;
}
@keyframes dashdraw {
  to {
    stroke-dashoffset: -40;
  }
} */
