---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - batch
  resources:
  - jobs/status
  verbs:
  - get
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - neosync.dev
  resources:
  - jobruns
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - neosync.dev
  resources:
  - jobruns/finalizers
  verbs:
  - update
- apiGroups:
  - neosync.dev
  resources:
  - jobruns/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - neosync.dev
  resources:
  - jobruntasks
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - neosync.dev
  resources:
  - jobruntasks/finalizers
  verbs:
  - update
- apiGroups:
  - neosync.dev
  resources:
  - jobruntasks/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - neosync.dev
  resources:
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - neosync.dev
  resources:
  - jobs/finalizers
  verbs:
  - update
- apiGroups:
  - neosync.dev
  resources:
  - jobs/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - neosync.dev
  resources:
  - sqlconnections
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - neosync.dev
  resources:
  - sqlconnections/finalizers
  verbs:
  - update
- apiGroups:
  - neosync.dev
  resources:
  - sqlconnections/status
  verbs:
  - get
  - patch
  - update
