app:
  image:
    repository: neosync-app

  serviceAccount:
    create: true

  nucleusEnv: dev

  port: 3000

  neosyncApi:
    url: http://neosync-api

  auth0:
    clientId: 'toXbXZXIYD3ni7MheOrU6J70j8lNtiSt'
    clientSecret: 'c-uuvwzNHx7dPdSKjGO1rSOypnKiTvGV7Ivh80VZHkjmZXLAwSma__FzCxeDoHeA
    issuer: 'https://auth.nucleuscloud.dev'
    scope: 'openid email profile offline_access
    audience: 'https://api.nucleuscloud.com
