releases:
  - name: neosync-app
    chart: ../../../charts/app
    version: 'v0.0.0'
    namespace: neosync
    createNamespace: false

    values:
      - image:
          repository: neosync-app

        serviceAccount:
          create: true

        nucleusEnv: dev

        servicePort: 80
        containerPort: 3000

        neosyncApi:
          url: http://neosync-api

        auth:
          enabled: true
