apiVersion: v1
kind: Secret
metadata:
    name: {{ template "neosync-api.fullname" . }}-service-evs
    namespace: {{ .Release.Namespace }}
type: Opaque
stringData:
    DB_HOST: {{ .Values.db.host }}
    DB_PORT: {{ .Values.db.port | quote }}
    DB_NAME: {{ .Values.db.name }}
    DB_USER: {{ .Values.db.username }}
    DB_PASS: {{ .Values.db.password }}
    DB_SSL_DISABLE: {{ .Values.db.disableSsl | quote}}

    {{- if .Values.host }}
    HOST: {{ .Values.host | quote}}
    {{- end }}

    PORT: {{ .Values.containerPort | quote }}

    {{- if ne .Values.nucleusEnv "dev" }}
    OTEL_EXPORTER_OTLP_PORT: "4317" # sends to gRPC receiver on port 4317
    {{- end }}

    NUCLEUS_ENV: {{ .Values.nucleusEnv }}

    SHUTDOWN_TIMEOUT_SECONDS: {{ .Values.shutdownTimeoutSeconds | quote }}

    {{- if and .Values.auth .Values.auth.enabled }}
    AUTH_ENABLED: {{ .Values.auth.enabled | default "false" | quote }}
    {{- end }}

    {{- if and .Values.auth .Values.auth.baseUrl }}
    AUTH_BASEURL: {{ .Values.auth.baseUrl }}
    {{- end }}

    {{- if and .Values.auth .Values.auth.expectedIss }}
    AUTH_EXPECTED_ISS: {{ .Values.auth.expectedIss }}
    {{- end }}

    {{- if and .Values.auth .Values.auth.audience }}
    AUTH_AUDIENCE: {{ .Values.auth.audience }}
    {{- end }}

    {{- if and .Values.auth .Values.auth.clientMap }}
    AUTH_CLIENTID_SECRET: {{ .Values.auth.clientMap | toJson | quote }}
    {{- end }}

   {{- if and .Values.auth .Values.auth.cliClientId }}
    AUTH_CLI_CLIENT_ID: {{ .Values.auth.cliClientId }}
    {{- end }}

   {{- if and .Values.auth .Values.auth.cliAudience }}
    AUTH_CLI_AUDIENCE: {{ .Values.auth.cliAudience }}
    {{- end }}

   {{- if and .Values.auth .Values.auth.signatureAlgorithm }}
    AUTH_SIGNATURE_ALGORITHM: {{ .Values.auth.signatureAlgorithm }}
    {{- end }}

    {{- if and .Values.temporal .Values.temporal.url }}
    TEMPORAL_URL: {{ .Values.temporal.url }}
    {{- end }}

    {{- if and .Values.temporal .Values.temporal.certificate .Values.temporal.certificate.keyFilePath }}
    TEMPORAL_CERT_KEY_PATH: {{ .Values.temporal.certificate.keyFilePath }}
    {{- end }}

    {{- if and .Values.temporal .Values.temporal.certificate .Values.temporal.certificate.certFilePath }}
    TEMPORAL_CERT_PATH: {{ .Values.temporal.certificate.certFilePath }}
    {{- end }}

    {{- if and .Values.temporal .Values.temporal.certificate .Values.temporal.certificate.keyContents }}
    TEMPORAL_CERT_KEY: {{ .Values.temporal.certificate.keyContents }}
    {{- end }}

    {{- if and .Values.temporal .Values.temporal.certificate .Values.temporal.certificate.certContents }}
    TEMPORAL_CERT: {{ .Values.temporal.certificate.certContents }}
    {{- end }}

    {{- if and .Values.temporal .Values.temporal.defaultNamespace }}
    TEMPORAL_DEFAULT_NAMESPACE: {{ .Values.temporal.defaultNamespace }}
    {{- end }}

    {{- if and .Values.temporal .Values.temporal.defaultSyncJobQueue }}
    TEMPORAL_DEFAULT_SYNCJOB_QUEUE: {{ .Values.temporal.defaultSyncJobQueue }}
    {{- end }}

    {{- if and .Values.auth .Values.auth.api .Values.auth.api.clientId }}
    AUTH_API_CLIENT_ID: {{ .Values.auth.api.clientId }}
    {{- end }}

    {{- if and .Values.auth .Values.auth.api .Values.auth.api.clientSecret }}
    AUTH_API_CLIENT_SECRET: {{ .Values.auth.api.clientSecret }}
    {{- end }}

    {{- if and .Values.auth .Values.auth.api .Values.auth.api.baseUrl }}
    AUTH_API_BASEURL: {{ .Values.auth.api.baseUrl }}
    {{- end }}

    NEOSYNC_CLOUD: {{ .Values.neosyncCloud.enabled | default "false" | quote }}
    NEOSYNC_CLOUD_ALLOWED_WORKER_API_KEYS: {{ join "," .Values.neosyncCloud.workerApiKeys }}

    KUBERNETES_ENABLED: {{ .Values.kubernetes.enabled | default "false" | quote }}

    {{- if and .Values.kubernetes .Values.kubernetes.namespace }}
    KUBERNETES_NAMESPACE: {{ .Values.kubernetes.namespace }}
    {{- end }}

    {{- if and .Values.kubernetes .Values.kubernetes.workerAppName }}
    KUBERNETES_WORKER_APP_NAME: {{ .Values.kubernetes.workerAppName }}
    {{- end }}
