apiVersion: v1
kind: Secret
metadata:
    name: {{ template "neosync-api.fullname" . }}-migration-evs
    namespace: {{ .Release.Namespace }}
type: Opaque
stringData:
    DB_HOST: {{ .Values.migrations.db.host }}
    DB_PORT: {{ .Values.migrations.db.port | quote }}
    DB_NAME: {{ .Values.migrations.db.name }}
    DB_USER: {{ .Values.migrations.db.username }}
    DB_PASS: {{ .Values.migrations.db.password }}
    DB_SSL_DISABLE: {{ .Values.migrations.db.disableSsl | quote}}
    {{- if .Values.db.options }}
    DB_OPTIONS: {{ .Values.db.options | quote}}
    {{- end }}

    DB_SCHEMA_DIR: {{ .Values.migrations.db.schemaDir }}
    DB_MIGRATIONS_TABLE: {{ .Values.migrations.db.migrationsTableName }}
    DB_MIGRATIONS_TABLE_QUOTED: {{ .Values.migrations.db.migrationsTableQuoted | quote }}

