name: Dev Container Build and Push Image

on:
  push:
    tags:
      - "devcontainer/v*.*.*"
jobs:
  devcontainer-build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          # list of Docker images to use as base name for tags
          images: |
            name=ghcr.io/${{ github.repository }}/devcontainer
          # generate Docker tags based on the following events/attributes
          tags: |
            type=match,pattern=devcontainer/v(\d.\d.\d),group=1
          sep-tags: ","

      - name: Update Tags to Fit into devcontainers/cli format
        id: dcmeta
        run: |
          # Define the prefix you want to remove
          prefix="ghcr.io/${{ github.repository }}/devcontainer"

          # Define the input list and delimiter
          input_list="${{ steps.meta.output.tags }}""
          delimiter=","

          # Remove the specified prefix from each item in the list
          result_list=$(echo "$input_list" | sed "s|${prefix}:||g")
          echo "tags=$result_list" >> "$GITHUB_OUTPUT"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and release devcontainer Multi-Platform
        uses: devcontainers/ci@v0.3
        with:
          imageName: ghcr.io/${{ github.repository }}/devcontainer
          imageTag: ${{ steps.dcmeta.outputs.tags }}
          cacheFrom: ghcr.io/${{ github.repository }}/devcontainer
          platform: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          subFolder: .github
