on:
  pull_request:
    paths:
      - docs/**

name: Docs
jobs:
  knip:
    name: Knip
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: docs
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4

      - run: npm ci
      - run: npm run knip:production

  prettier:
    name: Prettier
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: docs
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4

      - name: Get npm cache directory
        id: npm-cache-dir
        shell: bash
        run: echo "dir=$(npm config get cache)" >> ${GITHUB_OUTPUT}

      - name: Cache node modules
        id: cache-npm
        uses: actions/cache@v4
        with:
          path: ${{ steps.npm-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-docs-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-docs-

      - run: npm ci
      - run: npm run prettier:check

  typecheck:
    name: TS TypeCheck
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: docs
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4

      - name: Get npm cache directory
        id: npm-cache-dir
        shell: bash
        run: echo "dir=$(npm config get cache)" >> ${GITHUB_OUTPUT}

      - name: Cache node modules
        id: cache-npm
        uses: actions/cache@v4
        with:
          path: ${{ steps.npm-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-docs-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-docs-

      - run: npm ci
      - name: Build
        run: npm run typecheck

  spellcheck:
    name: Spellcheck Documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: streetsidesoftware/cspell-action@v5
        with:
          root: docs
          config: docs/cspell.json
