on:
  pull_request:
    paths:
      - cli/**.go
      - backend/**.go
      - worker/**.go
      - internal/**.go
      - go.mod
      - go.sum
  push:
    branches:
      - main
    paths:
      - cli/**.go
      - backend/**.go
      - worker/**.go
      - internal/**.go
      - go.mod
      - go.sum

name: Go
jobs:
  golangci:
    name: golang-lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: latest
          args: --timeout=10m

  vet:
    name: vet
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum

      - name: Vet
        run: go vet ./...

  test:
    name: test
    runs-on: ubuntu-latest-4-cores
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum

      - name: Test
        run: |
          go test -race -coverprofile=coverage.out -covermode=atomic ./...
        env:
          INTEGRATION_TESTS_ENABLED: 1

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  go-mod-tidy-check:
    name: go-mod-tidy-check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum

      - name: Run go mod tidy
        run: go mod tidy

      - name: Check for changes in go.mod and go.sum
        run: |
          if [ -n "$(git status --porcelain go.mod go.sum)" ]; then
            echo "Error: go.mod and/or go.sum have changes after running 'go mod tidy'"
            echo "Please run 'go mod tidy' and commit the changes."
            exit 1
          fi
