apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "neosync-app.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- if eq .Values.datadog.enabled true }}
    {{- if .Values.nucleusEnv }}
    tags.datadoghq.com/env: {{ .Values.nucleusEnv }}
    {{- end }}
    tags.datadoghq.com/service: {{ template "neosync-app.fullname" . }}
    tags.datadoghq.com/version: {{ .Values.image.tag | default .Chart.AppVersion  }}
    {{- end }}
  {{- if .Values.deploymentAnnotations }}
  annotations:
    {{- range $key, $value := .Values.deploymentAnnotations }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
  {{- end }}
spec:
  selector:
    matchLabels:
      app: {{ template "neosync-app.fullname" . }}
  replicas: 1
  template:
    metadata:
      annotations:
        {{- if .Values.podAnnotations }}
        {{- range $key, $value := .Values.podAnnotations }}
        {{ $key }}: {{ $value | quote }}
        {{- end }}
        {{- end }}
        {{- if eq .Values.datadog.enabled true }}
        ad.datadoghq.com/nucleus-api.logs: '[{"source":"nucleus-neosync-app","service":"{{ template "neosync-app.fullname" . }}"}]'
        {{- end }}
        {{- if eq .Values.istio.enabled true }}
        proxy.istio.io/config: '{ "holdApplicationUntilProxyStarts": true }'
        {{- end }}
      labels:
        app: {{ template "neosync-app.fullname" . }}
        version: v1
        {{- if eq .Values.istio.enabled true }}
        sidecar.istio.io/inject: "true"
        {{- end }}
        {{- if eq .Values.datadog.enabled true }}
        admission.datadoghq.com/enabled: "true"
        {{- if .Values.nucleusEnv }}
        tags.datadoghq.com/env: {{ .Values.nucleusEnv }}
        {{- end }}
        tags.datadoghq.com/service: {{ template "neosync-app.fullname" . }}
        tags.datadoghq.com/version: {{ .Values.image.tag | default .Chart.AppVersion  }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.serviceAccount.create }}
      serviceAccountName: {{ include "neosync-app.serviceAccountName" . }}
      {{- end }}
      {{- if .Values.terminationGracePeriodSeconds }}
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
      {{- end }}
      {{- if .Values.tolerations }}
      tolerations:
        {{- toYaml .Values.tolerations | nindent 8 }}
      {{- end }}
      {{- if .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml .Values.nodeSelector | nindent 8 }}
      {{- end }}
      {{- if .Values.affinity }}
      affinity:
        {{- toYaml .Values.affinity | nindent 8 }}
      {{- end }}

      containers:
        - name: user-container
          image: '{{ .Values.image.repository | default "ghcr.io/nucleuscloud/neosync-app" }}:{{ .Values.image.tag | default .Chart.AppVersion  }}'
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.containerPort }}
              name: http
              protocol: TCP

          resources:
            requests:
              cpu: {{ .Values.resources.requests.cpu }}
              memory: {{ .Values.resources.requests.memory }}
            limits:
              cpu: {{ .Values.resources.limits.cpu }}
              memory: {{ .Values.resources.limits.memory }}

          env:
            - name: HOST_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.hostIP

            {{- if eq .Values.datadog.enabled true }}
            - name: DD_ENV
              valueFrom:
                fieldRef:
                  fieldPath: metadata.labels['tags.datadoghq.com/env']
            - name: DD_SERVICE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.labels['tags.datadoghq.com/service']
            - name: DD_VERSION
              valueFrom:
                fieldRef:
                  fieldPath: metadata.labels['tags.datadoghq.com/version']
            {{- end }}

            {{- with .Values.extraEnvVars }}
            {{- range .}}
            - name: {{ .name }}
              {{- if .value }}
              value: {{ .value | quote }}
              {{- else if .valueFrom }}
              valueFrom:
                {{- if .valueFrom.secretKeyRef }}
                secretKeyRef:
                  name: {{ .valueFrom.secretKeyRef.name }}
                  key: {{ .valueFrom.secretKeyRef.key }}
                {{- end }}
                {{- if .valueFrom.configMapKeyRef }}
                configMapKeyRef:
                  name: {{ .valueFrom.configMapKeyRef.name }}
                  key: {{ .valueFrom.configMapKeyRef.key }}
                {{- end }}
                {{- if .valueFrom.fieldRef }}
                fieldRef:
                  fieldPath: {{ .valueFrom.fieldRef.fieldPath }}
                {{- end }}
              {{- end }}
            {{- end }}
            {{- end }}

          envFrom:
            - secretRef:
                name: {{ template "neosync-app.fullname" . }}-service-evs-{{ include "neosync-app.env-vars" . | sha256sum | trunc 8 }}

      {{- if .Values.sidecarContainers }}
      {{- toYaml .Values.sidecarContainers | nindent 8 }}
      {{- end }}

  {{- if .Values.updateStrategy }}
  strategy:
    {{- toYaml .Values.updateStrategy | nindent 4 }}
  {{- end }}
